@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.eot?y4uzpj');
  src: url('/fonts/icomoon.eot?y4uzpj#iefix') format('embedded-opentype'), url('/fonts/icomoon.woff2?y4uzpj') format('woff2'), url('/fonts/icomoon.ttf?y4uzpj') format('truetype'), url('/fonts/icomoon.woff?y4uzpj') format('woff'), url('/fonts/icomoon.svg?y4uzpj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*=" icon-"],
[class^="icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dot:before {
  content: "\e900";
}

.icon-plus-circle-2:before {
  content: "\e901";
}

.icon-plus-circle:before {
  content: "\e902";
}

.icon-minus:before {
  content: "\e903";
}

.icon-check:before {
  content: "\e904";
}

.icon-cross:before {
  content: "\e905";
}

.icon-note:before {
  content: "\e906";
}

.icon-phone:before {
  content: "\e907";
}

.icon-email:before {
  content: "\e908";
}

.icon-org:before {
  content: "\e909";
}

.icon-arrow-right-end:before {
  content: "\e90a";
}

.icon-arrow-left-end:before {
  content: "\e90b";
}

.icon-arrow-up-page:before {
  content: "\e90c";
}

.icon-arrow-left-page:before {
  content: "\e90d";
}

.icon-arrow-down-page:before {
  content: "\e90e";
}

.icon-arrow-right-page:before {
  content: "\e90f";
}

.icon-arrow-backward:before {
  content: "\e938";
}

.icon-arrow-forward:before {
  content: "\e939";
}

.icon-noti-samll:before {
  content: "\e910";
}

.icon-info-2:before {
  content: "\e911";
}

.icon-fail:before {
  content: "\e912";
}

.icon-org-add:before {
  content: "\e913";
}

.icon-excel:before {
  content: "\e914";
}

.icon-special:before {
  content: "\e915";
}

.icon-search:before {
  content: "\e916";
}

.icon-stock:before {
  content: "\e917";
}

.icon-info:before {
  content: "\e918";
}

.icon-condition:before {
  content: "\e919";
}

.icon-attachment:before {
  content: "\e91a";
}

.icon-delivery:before {
  content: "\e91b";
}

.icon-plus:before {
  content: "\e91c";
}

.icon-calendar:before {
  content: "\e91d";
}

.icon-download:before {
  content: "\e936";
}

.icon-reject:before {
  content: "\e91e";
}

.icon-new-invoice:before {
  content: "\e91f";
}

.icon-action-dot:before {
  content: "\e920";
}

.icon-return:before {
  content: "\e921";
}

.icon-receive:before {
  content: "\e93a";
}

.icon-close-remaining:before {
  content: "\e922";
}

.icon-delete:before {
  content: "\e923";
}

.icon-cross-circle:before {
  content: "\e924";
}

.icon-print:before {
  content: "\e925";
}

.icon-pdf:before {
  content: "\e926";
}

.icon-history:before {
  content: "\e927";
}

.icon-copy:before {
  content: "\e928";
}

.icon-edit:before {
  content: "\e929";
}

.icon-noti:before {
  content: "\e92a";
}

.icon-profile:before {
  content: "\e92b";
}

.icon-user:before {
  content: "\e92c";
}

.icon-menu-supplier:before {
  content: "\e92d";
}

.icon-menu-analytics:before {
  content: "\e92e";
}

.icon-menu-einvoice:before {
  content: "\e92f";
}

.icon-menu-purchasing:before {
  content: "\e930";
}

.icon-menu-erfx:before {
  content: "\e931";
}

.icon-menu-approve:before {
  content: "\e932";
}

.icon-menu-page:before {
  content: "\e933";
}

.icon-menu-over-view:before {
  content: "\e93c";
}

.icon-arrow-menu-default:before {
  content: "\e934";
}

.icon-arrow-menu-back:before {
  content: "\e937";
}

.icon-arrow-menu-active:before {
  content: "\e935";
}

.icon-arrow-menu-top:before {
  content: "\e93b";
}

.icon-menu-eq:before {
  content: "\e93f";
}