.tooltip {
    position: relative;

    &:hover .tooltiptext {
        display: block;
        opacity: 1;
    }

    .tooltiptext {
        display: none;
        position: absolute;
        width: 75px;
        background-color: $color-title;
        color: $color-white;
        text-align: center;
        padding: 5px 0;
        border-radius: 3px;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.6s;
        font-size: 13px !important;
    }

    .tooltip-top {
        bottom: 150%;
        left: 50%;
        margin-left: -40px;

        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: $color-title transparent transparent transparent;
        }
    }
}
/* new tooltip */
.op-tooltip {
    position: relative;
    i.icon-info{
        margin-top: -3px;
        margin-left: 3px;
    }
}

.op-tooltip:hover .op-tooltip-text {
    display: block;
}

.op-tooltip-text {
    font-family: $font-family;
    display: none;
    position: absolute;
    //bottom: 30px;
    text-align: center;
    background-color: $color-title;
    color: $color-white;
    border-radius: 4px;
    font-size: 11px;
    padding: 7px 10px;
    line-height:1.2em;

    &.left {
        left: 0;
    }

    &.center {
        left: 50%;
    }

    &.right {
        right: -10px;
    }
}

.op-tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: $color-title transparent transparent transparent;
}

.op-tooltip-text.left::after {
    left: 15px;
}

.op-tooltip-text.center::after {
    left: 50%;
}

.op-tooltip-text.right::after {
    right: 15px;
}
