/* font style */
.font-special {
  font-size: $font-special;
}

.font-page-title {
  font-size: $font-pagetitle;
}

.font-heading {
  font-size: $font-heading;
}

.font-menu {
  font-size: $font-menu;
}

.font-normal {
  font-size: $font-normal;
}

.font-sub-title {
  font-size: $font-subtitle;
}

.font-xs {
  font-size: $font-size-xs;
}

.font-xxs {
  font-size: 9px;
}

.font-xxl {
  font-size: $font-size-xxl;
}

.font-weight-normal {
  font-weight: normal;
}

.font-empty-list {
  color: $color-title;
  font-size: $font-heading;
}
/* font-color style */
.color-title {
  color: $color-title !important;
}

.color-normal {
  color: $color-normal;
}

.color-sub {
  color: $color-sub;
}

.color-success {
  color: $color-success;
}

.color-fail {
  color: $color-fail !important;
}

.color-warning {
  color: $color-warning;
}

.color-info {
  // color: $color-info;
  color: $theme-hover;
}

.color-info-light {
  color: $color-info-light;
}

.color-link {
  color: $color-link;
}

.color-sub-header {
  color: $color-sub-header;
}

.special-title {
  @extend .font-special;
  @extend .color-title;
  margin-bottom: 30px;
}

.page-title {
  @extend .font-page-title;
  @extend .color-title;
  margin-bottom: 40px;
}

.heading-title {
  @extend .font-heading;
  @extend .color-title;
  margin-bottom: 30px;
}

.clearfix {
  @include clearfix;
}

.hide {
  display: none !important;
}

.margin-h-auto {
  margin-left: auto;
  margin-right: auto;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-v {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.no-border {
  border: 0 !important;
}

.no-radius {
  @include border-radius(0,'!important');
}

.no-shadow {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.smooth-font {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.no-float {
  float: none !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.body-fixed {
  display: block;
  overflow: hidden;
}

.overlay {
  background-color: #000;
  opacity: 0.3;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: none;
  transition: all 0.4s ease-in;
  -ms-filter:  "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";

  &.show {
    display: block;
  }
}

.text-block {
  display: inline-block;
  vertical-align: middle;
}

.ellipsis,
.ellipsis-lg {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.reset-nowrap {
  white-space: normal !important;
}
@media (max-width:736px) {
  .ellipsis-lg {
    white-space: normal;
  }
  // .hide-desktop{
  //     display: block;
  // }
  // .hide-mobile{
  //     display: none;
  // }
}

.text-max-300 {
  max-width: 300px;
}

.text-max-260 {
  max-width: 260px;
}

.text-permax-99 {
  max-width: 300px;
}

.text-permax-90 {
  max-width: 300px;
}

.box-fixed-top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
}

.top-search-result {
  margin-bottom: 20px;
}

.space-top-search {
  padding: 10px 0 0 5px;
}

.word-result {
  @include border-radius(30px);
  display: inline-block;
  background-color: $color-sub;
  margin-left: 10px;
  margin-top: -3px;
  height: 26px;
  vertical-align: middle;
  overflow: hidden;

  * {
    color: $color-white;
    display: inline-block;
  }

  > span {
    @include border-left-radius(30px);
    white-space: nowrap;
    padding: 2px 10px 0 15px;
    line-height: 24px;
    line-height: 20px\9;
  }

  .remove-result {
    @include border-right-radius(30px);
    border-left: 1px solid #97A4B6;
    cursor: pointer;
    padding: 0 10px;
    font-size: 10px;
    line-height: 26px;
    vertical-align: top;

    > i {
      font-size: 12px;
    }

    &:hover {
      background-color: #717F93;
    }
  }

  &.ecat-result {
    > span {
      line-height: 22px !important;
      font-size: 14px;
    }
  }
}

.box-block {
  display: block;
}

.box-inline {
  display: inline-block;
}

.h-240 {
  height: 240px !important;
}

.w-250 {
  width: 250px;
}

.w-418 {
  width: 418px !important;
}

.mw-70 {
  min-width: 70px !important;
}

.mw-110 {
  min-width: 110px !important;
}

.mw-130 {
  min-width: 130px !important;
}

.mw-170 {
  min-width: 170px !important;
}

.mw-240 {
  max-width: 240px !important;
}

.arrow-child,
.no-arrow-child {
  .icon-arrow-down-page,
  .icon-arrow-up-page {
    font-size: 8px;
  }
}
/* set margin */
.mr-10 {
  margin-right: 10px !important;
}

.mr-15 {
  margin-right: 15px;
}

.mr-50 {
  margin-right: 50px;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px !important;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px;
}

.pd-5 {
  padding: 5px !important;
}

.pd-5-15 {
  padding: 5px 15px !important;
}

.pd-5-5-0-15 {
  padding: 5px 5px 0 15px !important;
}

.pd-10-5 {
  padding: 10px 5px !important;
}

.pd-t-10 {
  padding-top: 10px !important;
}

.mxh-235 {
  max-height: 235px;
  height: 235px;
}

.box-relative {
  position: relative;
}

.text-underline {
  text-decoration: underline;
}

.w-reset {
  min-width: 0;
  width: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.po-rela {
  position: relative;
}

.po-abso {
  position: absolute;
}

.bg-white {
  background: #fff;
}

.red-failed {
  color: #D72C22 !important;
}

.underline {
  text-decoration: underline;
}

.thumbnail-empty {
  &.not-found,
  &.permission {
    width: 160px;
    height: 160px;
    margin: 0 auto 30px;
  }

  &.list-empty {
    width: 80px;
    height: 80px;
  }
}

.break-word {
  word-break: break-word;
}

.strong{
  font-weight: bold;
}

.donotcopy{
  webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}