.box-top-search {
  .box-dropdown {
    float: left;

    .box-dropdown-title {
      font-size: $font-normal;
      display: inline-block;
      display: block \9;
      padding: 0 45px 0 15px;
      line-height: 32px;
      border: 1px solid $color-border;
      min-width: 150px;
      cursor: pointer;
      @include border-left-radius(2px);

      > i {
        top: 5px;
        right: 8px;
        font-size: 22px;
        position: absolute;
      }
    }
  }

  > .form-control {
    @include border-radius(0);
    border-left: none;
    border-right: none;
    border-top-color: $color-border !important;
    border-bottom-color: $color-border !important;
    float: left;
    width: 230px;

    &.input-search {
      width: 302px;
      border-left: 1px solid $color-border;
    }
  }

  .btn-op-default {
    @include border-left-radius(0);
    min-width: 80px;
    width: 80px \9;
  }
}

.box-top-dropdown {
  .box-dropdown-title {
    padding: 0 45px 0 15px;
    line-height: 32px;
    border: 1px solid $color-border;
    min-width: 150px;
    cursor: pointer;
    @include border-radius(2px);

    > i {
      top: 5px;
      right: 8px;
      font-size: 22px;
      position: absolute;
    }
    &.form-error{
      border: 1px solid $color-fail;
    }
  }
}

.box-indetail-table {
  width: 100%;
  height: 36px;
  min-width: 170px;

  &.error {
    border: 1px solid #E7372D;

    .warn-msg {
      float: left;
      line-height: 1.8em;

      i,
      span {
        color: #E7372D;
      }

      span {
        top: 2px;
        position: relative;
      }
    }
  }

  .box-dropdown {
    float: right;
    width: 50%;

    .box-dropdown-title {
      display: inline-block;
      display: block \9;
      line-height: 32px;
      border: 1px solid $color-border;
      min-width: 100%;
      cursor: pointer;
      @include border-left-radius(2px);
      background: white;
      text-align: left;
      padding: 0 35px 0 15px;

      > i {
        top: 8px;
        right: 5px;
        font-size: 22px;
        position: absolute;
      }
    }
  }

  > .form-control {
    @include border-radius(0);
    border-left: none;
    border-right: none;
    border-top-color: $color-border !important;
    border-bottom-color: $color-border !important;
    float: left;
    width: 50%;
  }

  .box-dropdown-list {
    li {
      min-width: 100px;
    }
  }
}

.box-table-filter {
  margin: 15px 0 0;
  padding: 10px;
  background-color: #F4F5F8
}

.box-table-filter .ctrl-filter {
  width: 182px
}

.box-table-filter .ctrl-filter .box-dropdown-title {
  background-color: #fff;
  display: inline-block;
  display: block\9;
  padding: 0 45px 0 15px;
  line-height: 32px;
  border: 1px solid #E6E8EB;
  width: 100%;
  cursor: pointer;
  border-radius: 2px
}

.box-table-filter .ctrl-filter .box-dropdown-title>i {
  position: absolute;
  right: 5px;
  top: 10px
}

.box-table-filter .ctrl-filter .box-dropdown-list li {
  min-width: 0;
  width: 168px
}
