.table-default,
.table-default-nocolor,
.table-pad-15 {
  &.table-hover {
    tbody > tr {
      &:hover {
        > * {
          color: $theme-hover;
        }
       td {
         &.col-no-border {
           border-bottom-color: $color-background;
         }
       }
     }
    }
  }
  width: 100%;
  border-collapse: collapse;

  &.table-vertical-middle {
    td {
      vertical-align: middle;
    }
  }

  tbody > tr {
    .table-action {
      color: $color-info-light !important;
      display: block;

      &:hover {
        color: $color-sub !important;
      }
    }

    .table-action-disabled {
      color: $color-bg-disable !important;
      cursor: not-allowed;
    }

    &.rowbg {
      background: $color-background;
    }

    &.row-danger {
      background: #F8E3E7;

      td {
        &.col-input {
          input[type="text"] {
            background: #ffffff;
          }
        }
      }
    }

    &.toggle-tr {
      background: $color-info-light;

      td {
        border: none;

        .box-dropdown {
          .box-dropdown-title {
            color: #586575;
            cursor: pointer;
            min-width: 80px;
            line-height: 32px;
            background: #ffffff;
            padding: 0 45px 0 15px;
            @include border-radius(2px);
            border: 1px solid $color-border;

            > i {
              top: 5px;
              right: 8px;
              font-size: 22px;
              position: absolute;
            }
          }

          .box-dropdown-list {
            width: 100%;

            li {
              min-width: 20px;
            }
          }
        }
      }
      // border-left: 1px solid $color-border;
    }

    &.row-error {
      background: #FCEBEA;

      .col-bg {
        background: #EFE6E9;
      }
    }

    &.row-selected {
      background: $color-light-blue;

      .col-bg {
        background: $color-light-blue;
      }
    }

    &.row-input {
      background: #BCCEE3;

      td {
        border-left: none;
        border-right: none;
      }
    }

    .table-link {
        color: $theme-hover;
    }

    .col-icon {
      padding: 13px 15px;

      &:last-child {
        width: 60px;
        padding-right: 25px;
      }

      .icon-plus {
        font-size: 16px;
      }
    }
  }

  th {
    text-align: left;
    border-bottom: 1px solid $color-border;
    vertical-align: top;
    white-space: nowrap;
    color: $color-title;

    &.col-img {
      padding: 10px;
    }
  }

  .white-space-auto th {
    white-space: normal;
  }

  td {
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid $color-background;
    color: $color-normal;

    &.col-no-border {
      border-bottom-color: transparent;
    }

    &.col-pad-15 {
      padding: 15px;
    }

    &.col-input {
      padding: 6px 10px;

      input[type="text"] {
        color: $color-normal;
      }

      .form-error {
        margin-bottom: 5px;
      }
    }
  }
}

.table-default {
  tbody > tr {
    &:nth-child(even) {
      background: $color-background;
    }

    &:nth-child(odd) {
      background: $color-white;
    }
  }

  th {
    padding: 10px;
  }

  td {
    padding: 15px 10px;
  }
}

.table-default-nocolor,
.table-pad-15 {
  th {
    padding: 10px 15px;
  }

  td {
    padding: 15px;
  }
}

.table-report-error {
  border: 1px solid $color-border-fail;

  thead {
    background-color: #F8E3E7;

    th {
      border-color: $color-border-fail;
    }
  }

  tbody {
    tr.last-child {
      td {
        border-color: $color-border-fail;
      }
    }
  }

  .table-thead {
    .table-row {
      background-color: #F8E3E7;
      border-bottom: 1px solid $color-border-fail;
    }
  }
}

.table-border {
  border-bottom: 1px solid $color-border;

  &.no-border-bottom {
    border-bottom: none;
  }

  > thead tr th {
    border: 1px solid $color-border;
  }

  > tbody > tr > td {
    border-bottom: none;
    border-right: 1px solid $color-border;
    border-left: 1px solid $color-border;
  }
}
/* set row select */
.row-selected {
  background-color: $color-light-blue;
}
/* set column width */
.col-status {
  width: 85px;
}

.col-price {
  width: 135px;
}

.col-icon {
  width: 50px;
  font-size: 20px;
}

.col-checkbox {
  label {
    margin: 0;

    input[type="checkbox"] {
      margin: 1px 0 0;
    }
  }
}

.col-item-icon {
  padding: 13px 2px !important;
}
/* set text status */
.text-status {
  margin: 0;
}

input[type=checkbox].table-check {
  margin: 0;
}
/*table-freeze-column style*/
.table-freeze-column {
  margin: 0;
  position: relative;
}

.table-freeze-inner {
  overflow-x: auto;
  margin-left: 290px;
  overflow-y: visible;
  padding: 0;
  border: 1px solid $color-border;
  border-left: none;

  table {
    border-collapse: separate;
    border-spacing: 0;
  }

  thead {
    td,
    th {
      color: $color-title;
      vertical-align: top;
      font-size: $font-normal;
      font-weight: bold;
    }

    th.headcol {
      margin-top: -1px;
      border: 1px solid $color-border;

      .col-fix1,
      .col-fix2 {
        padding: 11px 10px;
      }
    }

    td {
      padding: 10px;
      border-bottom: 1px solid $color-border;
    }
  }

  tbody {
    th.headcol {
      .word-wrap {
        width: 220px;
      }

      .col-fix1,
      .col-fix2 {
        padding: 18px 10px 0;
      }

      &.disabled,
      &.disabled * {
        color: #C4C9D0!important;
        cursor: default;
        pointer-events: none;

        .icon-special {
          opacity: 0.3;
        }
      }
    }

    > tr.last-item-row {
      td {
        border-bottom: none;
      }
    }

    tr {
      &.rowbg {
        background: $color-background;

        th.headcol {
          background: $color-background;
        }
      }

      td {
        padding: 8px 10px;
      }

      &:last-child {
        th.headcol {
          border-bottom: 1px solid $color-border;
        }
      }

      &.row-reject *,
      &.row-reject:hover * {
        color: $color-normal;
        cursor: default !important;
      }

      &.row-reject .headcol * {
        text-decoration: line-through;

        .icon-special {
          text-decoration: none;
        }
      }
    }

    td,
    th {
      margin: 0;
      white-space: nowrap;
      border-top-width: 0;
      font-size: 13px;
      font-weight: normal;
      vertical-align: top;
    }
  }

  td {
    border-right: 1px solid $color-border;
  }

  .headcol {
    position: absolute;
    width: 290px;
    left: 0;
    top: auto;
    padding: 0;
    overflow: hidden;
    border-left: 1px solid $color-border;
    border-right: 1px solid $color-border;
  }

  .col-fix-wrap,
  .col-fix1,
  .col-fix2 {
    position: relative;
    height: 100%;
  }

  .col-fix-wrap {
    overflow: hidden;
  }

  .col-fix1 {
    width: 45px;
    float: left;
    text-align: center;
    border-right: 1px solid $color-border;
  }

  .col-fix2 {
    width: 242px;
    float: left;
    text-align: left;
  }

  .col-input-fix {
    width: 175px;
    min-width: 175px;
  }

  .ellipsis {
    vertical-align: top;
    max-width: 190px;
  }

  i.icon-special {
    margin-top: -2px !important;
  }
}

.hide-mobile {
  display: block;
}

.hide-desktop {
  display: none;
}

.fixed-headers {
  width: 100%;
  margin-top: 15px;
  table-layout: fixed;
  font-size: $font-normal;
  border-collapse: collapse;

  thead {
    font-weight: bold;
    color: $color-title;
    border-bottom: 1px solid $color-border;
  }

  tbody {
    width: 100%;
    height: 200px;
    display: block;
    overflow: auto;
    color: $color-normal;
    border-bottom: 1px solid $color-border;
    tr {
      float: left;
      clear: both;
      width: 100%;
      display: block;
      border-bottom: 1px solid #f5f5f5;
      td{
          white-space: normal;
          word-break: break-word;
      }
      &:last-child {
        // border-bottom: 1px solid $color-border;
        border-bottom: none;
      }
    }
  }

  td,
  th {
    padding: 15px 7.5px;
    text-align: left;
  }

  td:nth-child(1),
  th:nth-child(1) {
    width: 30%;
    float: left;
  }

  td:nth-child(2),
  th:nth-child(2) {
    width: 45%;
    float: left;
  }

  td:nth-child(3),
  th:nth-child(3) {
    width: 25%;
    float: left;
  }

  &.evm-history{
    th{
      padding: 10px 7.5px;
    }
    td:nth-child(1),
    th:nth-child(1) {
      width: 40px;
      float: left;
    }

    td:nth-child(2),
    th:nth-child(2) {
      width: 40%;
      float: left;
    }

    td:nth-child(3),
    th:nth-child(3) {
      width: 9%;
      float: left;
      text-align: center;
    }

    td:nth-child(4),
    th:nth-child(4) {
      width: 13%;
      float: left;
      text-align: right;
    }

    td:nth-child(5),
    th:nth-child(5) {
      width: 13%;
      float: left;
      text-align: right;
    }

    td:nth-child(6),
    th:nth-child(6) {
      width: 20%;
      float: left;
      text-align: right;
    }
  }

  &.eq-history{
    th{
      padding: 10px 7.5px;
    }
    td:nth-child(1),
    th:nth-child(1) {
      width: 40px;
      float: left;
    }

    td:nth-child(2),
    th:nth-child(2) {
      width: 28%;
      float: left;
    }

    td:nth-child(3),
    th:nth-child(3) {
      width: 20%;
      float: left;
    }

    td:nth-child(4),
    th:nth-child(4) {
      width: 15%;
      float: left;
    }

    td:nth-child(5),
    th:nth-child(5) {
      width: 30%;
      float: left;
    }
  }

  &.eq-sup-history,&.eq-msr-history{
    th{
      padding: 10px 7.5px;
    }
    td:nth-child(1),
    th:nth-child(1) {
      width: 25%;
      float: left;
    }

    td:nth-child(2),
    th:nth-child(2) {
      width: 25%;
      float: left;
    }

    td:nth-child(3),
    th:nth-child(3) {
      width: 40%;
      float: left;

    }

    td:nth-child(4),
    th:nth-child(4) {
      width: 10%;
      float: right;
      .ic-doc-search {
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin-top: -2px;
        margin-right: 10px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url(/images/eq/ic-doc-search.png);
      }
    }

    .sub-title-history{
      font-size: 11px;
      color: #7E8EA4;
      margin-top: 5px;
    }
  }

  &.subplier-info-contact{
    th{
      padding: 10px 7.5px;
    }
    td:nth-child(1),
    th:nth-child(1) {
      width: 40px;
      float: left;
    }

    td:nth-child(2),
    th:nth-child(2) {
      width: 25%;
      float: left;
    }

    td:nth-child(3),
    th:nth-child(3) {
      width: 14%;
      float: left;
    }

    td:nth-child(4),
    th:nth-child(4) {
      width: 14%;
      float: left;
    }

    td:nth-child(5),
    th:nth-child(5) {
      width: 25%;
      float: left;
    }

    td:nth-child(6),
    th:nth-child(6) {
      width: 14%;
      float: left;
    }
  }

  &.import-history-error{
    margin-top: 0px;
    th{
      padding: 10px 7.5px;
    }
    td:nth-child(1),
    th:nth-child(1) {
      width: 30%;
      float: left;
    }

    td:nth-child(2),
    th:nth-child(2) {
      width: 10%;
      float: left;
    }

    td:nth-child(3),
    th:nth-child(3) {
      width: 60%;
      float: left;
    }

  }
}
@media (max-width: 980px) {
  .hide-col,
  .hide-mobile {
    display: none;
  }

  .hide-desktop {
    display: block;
  }
  .fixed-headers {
    td,
    th {
      padding: 10px 5px;
    }
  }
}
@media (max-width: 736px) {
  .table-freeze-column {
    border: 1px solid $color-border;
  }

  .table-freeze-inner {
    margin-left: 0;
    border: none;

    .headcol {
      position: relative;
    }

    thead th.headcol {
      border-top: none;
      border-left: none;
    }

    tbody {
      tr:last-child {
        th.headcol {
          border-bottom: none;
        }
      }

      th.headcol {
        border-left: none;

        .word-wrap {
          width: 100%;

          .ellipsis {
            width: calc(100% - 30px);
          }
        }
      }
    }

    .col-fix-wrap {
      width: 246px;
    }

    .col-fix2 {
      width: 200px;
    }
  }
  .fixed-headers {
    &.eq-history{
      th{
        padding: 10px 7.5px;
      }
      td:nth-child(1),
      th:nth-child(1),
      td:nth-child(5),
      th:nth-child(5) {
        display: none;
      }

      td:nth-child(2),
      th:nth-child(2) {
        width: 33.33%;
        float: left;
      }

      td:nth-child(3),
      th:nth-child(3) {
        width: 33.33%;
        float: left;
      }

      td:nth-child(4),
      th:nth-child(4) {
        width: 33.33%;
        float: left;
      }
    }
    &.eq-sup-history{
      th{
        padding: 10px 5px;
      }
      td:nth-child(1),
      th:nth-child(1) {
        width: 25%;
        float: left;
      }

      td:nth-child(2),
      th:nth-child(2) {
        width: 38%;
        float: left;
      }

      td:nth-child(3),
      th:nth-child(3) {
        width: 27%;
        float: left;
      }

      td:nth-child(4),
      th:nth-child(4) {
        width: 10%;
        float: right;
      }
    }
  }
}
@media (max-width: 414px) {
  .table-default {
    th {
      padding: 10px 5px;
    }

    td {
      padding: 15px 5px;
      font-size: 12px;
    }
  }

  .table-pad-15 {
    th {
      padding: 10px 5px;
    }

    td {
      padding: 10px 5px;
    }
  }
}
