/* buttons */
[class*=" btn-op-"],
[class^="btn-op-"] {
  @include border-radius(2px);
  padding: 0 10px;
  display: inline-block;
  line-height: 34px;
  height: 34px;
  min-width: 100px;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  overflow: visible \9;
  width: auto \9;

  &::before {
    text-shadow: none;
  }

  .icon-arrow-left-page {
    margin-top: -3px;
    font-size: 11px;
  }

  .icon-plus {
    margin-top: -5px;
    font-size: 20px;
  }

  .icon-bin {
    margin-top: -3px;
    font-size: 18px;
  }

  .icon-delete {
    margin-top: -3px;
    font-size: 20px;
  }

  .icon-attachment,
  .icon-receive,
  .icon-return {
    margin: -3px 5px 0 0;
  }

  &:disabled,
  &[disabled="disabled"],
  &[disabled] {
    color: $color-disable !important;
    background-color: $color-bg-disable !important;
    border:1px solid $color-border-disable !important;
    cursor: not-allowed;
  }
}

.btn-op-default,
a.btn-op-default {
  background-color: $color-white;
  border:1px solid $color-border;
  color: $color-normal;

  &:active,
  &:focus,
  &:visited {
    color: $color-normal;
  }

  &:hover {
    background-color: $color-background;
    border:1px solid $color-sub;
  }

  &.w-auto {
    min-width: 50px;
  }

  &.green {
    background-color: $color-success;
    border:1px solid $color-success;
    color: $color-white;

    &:active {
      background-color: #4F9C20;
      border:1px solid #4F9C20;
    }

    &:focus,
    &:hover {
      background-color: $color-medium-green;
      border:1px solid $color-medium-green;
    }
  }

  &.red {
    background-color: $color-red;
    border:1px solid $color-red;
    color: $color-white;

    &:hover {
      background-color: #D72C22;
      border:1px solid #D72C22;
    }
  }

  &.lightblue {
    background-color: $color-link;
    border:1px solid $color-link;
    color: $color-white;

    &:hover {
      background-color: #0C91E0;
      border:1px solid #0C91E0;
    }
  }

  &.grey {
    background-color: #4E5660;
    border:1px solid #4E5660;
    color: $color-white;

    &:hover {
      background-color: #3B444F;
      border:1px solid #3B444F;
    }
  }

  // for call-to-action
  &.other-action {
    background-color: #E9F1F8;
    border: 1px solid $theme-hover;
    color: $theme-hover;

    &:hover,&.active {
      background-color: $theme-hover;
      border:1px solid $theme-hover;
      color: $color-white;
    }
  }

  &.w-max {
    width: 100%;
  }

  .noti-green {
    top: 4px;
    left: 20px;

    &.edit-pr {
      left: 28px;
    }
  }

  &.eq-action{
    color: #297CBB;
    background:#ffffff;
    border: 1px solid #297CBB;
  }
}

.btn-op-primary,
a.btn-op-primary {
  background-color: $theme-hover;
  border: 1px solid $theme-hover;
  color: $color-white;

  &:active,
  &:focus,
  &:hover,
  &:visited {
    color: $color-white;
  }

  &:hover {
    background-color: $theme-base;
    border:1px solid $theme-base;
  }

  &.btn-search {
    @include border-left-radius(0);
    width: 36px !important;
    min-width: 0 !important;
    text-align: center;
    padding: 0 7px;

    .icon-search {
      margin-top: -3px;
    }
  }
}

.btn-op-disabled,
a.btn-op-disabled {
  color: $color-disable !important;
  background-color: $color-bg-disable !important;
  // border:1px solid $color-border-disable !important;
  border: none;
  cursor: not-allowed !important;

  &.btn-file-upload > input {
    display: none;
  }
}

.btn-op-loading,
a.btn-op-loading {
  @include background(#fff, '/images/form/spin_grey.gif', no-repeat, 10px, center);
  background-size: 16px 16px;
  padding: 0 10px 0 30px !important;
}

.btn-file-upload,
a.btn-file-upload {
  vertical-align: top;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 10px \9;

  &.btn-be-disabled,
  &.btn-op-disabled {
    color: $color-disable!important;
    background-color: $color-bg-disable!important;
    border-color: $color-border-disable!important;
    cursor: not-allowed;

    [class*=" icon-btn-"],
    [class^="icon-btn-"] {
      opacity: 0.3;
    }

    .icon-btn-excel-grey {
      background-image: url('/images/backend/buttons/1x/excel_inactive.png') \9;
    }
  }

  input.browse {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 28px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

[class*="btn-be-"], [class^=btn-be-] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 10px;
  display: inline-block;
  line-height: 34px;
  height: 34px;
  min-width: 110px;
  white-space: nowrap;
}

.btn-be-get-master {
  background-color: #177143;
  color: #fff;
}

.btn-be-get-master:active,.btn-be-get-master:focus,.btn-be-get-master:hover,.btn-be-get-master:visited {
  color: #fff
}

.btn-be-get-master:hover {
  background-color: #105833
}

.btn-be-default {
  background-color: #fff;
  border: 1px solid #E6E8EB;
  color: #586575
}

.btn-be-default:active,.btn-be-default:focus,.btn-be-default:visited {
  color: #586575
}

.btn-be-default:hover {
  background-color: #F4F5F8;
  border-color: #7E8EA4;
  color: #586575
}

[class*=" btn-op-"],[class^=btn-op-] {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 0 10px;
  display: inline-block;
  line-height: 34px;
  height: 34px;
  min-width: 100px;
  white-space: nowrap;
  outline: 0;
  cursor: pointer;
  overflow: visible\9;
  width: auto\9;
  padding: 0\9
}

.btn-op-icon {
  background: #fff;
  border: 1px solid #E6E8EB;
  font-size: 18px;
  line-height: 32px;
  vertical-align: top;
}

.btn-op-icon.xs {
  min-width: 0!important
}

.btn-op-icon.xs i {
  margin-right: 0
}

.btn-op-icon.hover,.btn-op-icon:focus,.btn-op-icon:hover,.btn-op-icon:link {
  color: #586575
}

.btn-op-icon.hover,.btn-op-icon:focus,.btn-op-icon:hover {
  background-color: #F4F5F8;
  border-color: #7E8EA4
}

[class*="btn-be-"] .icon-excel, [class^=btn-be-] .icon-excel {
  margin-right: 8px;
  margin-top: -3px;
  font-size: 18px;
}
