/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal-overlay {
  position: fixed;
  z-index: 1;
  /* Sit on top */
  overflow-x: hidden;
  overflow-y: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(126,142,164);
  background-color: rgba(126,142,164,0.7);
  background: transparent url('/images/frontend/bg_opacity_70.png') repeat \9;

}
/* Modal Content */
.modal-content {
  z-index: 2;
  width: 500px;
  margin: 100px auto;
  position: relative;
  @include border-radius(6px);
  background-color: $color-white;

  &.modal-image {
    width: 400px;
  }

  &.modal-ein{
    margin: 50px auto;
  }

  .modal-inner {
    color: #586575;
    min-height: 102px;
    padding: 30px 20px 30px 30px;
    &.modal-sign{
      .header-sign{
        font-size: $font-size-xxl;
      }
      .sub-header-sign{
        font-size: 17px;
        margin: 20px 0 40px;
      }
      .form-control{
        height: 50px;
        line-height: 38px;
      }
    }
  }

  .modal-clear-inner {
    padding: 30px 20px;
  }

  .modal-title {
    font-size: 14px;
    font-weight: bold;
    color: $color-normal;
    padding: 19px 20px 15px 30px;
    border-bottom: 1px solid $color-background;

    .icon-cross {
      font-size: 20px;
      margin-top: -5px;
      &.disabled, &.disabled:hover {
        cursor: not-allowed;
        color: $color-disable
      }
    }

    &.warning {
      color: #ffffff;
      background: $color-warning;
      border-radius: 6px 6px 0 0;
      i{
        top: -2px;
        margin-right: 5px;
        position: relative;
      }
    }
  }

  .modal-bottom {
    background-color: $color-background;
    padding: 15px 20px;
    border-radius: 0 0 6px 6px;
    .text-footer{
      top: 5px;
      left: 5px;
      width: 304px;
      color: $color-sub;
      font-size: 10px;
      text-align: left;
      margin: 11px 30px;
      position: absolute;
    }
  }
}

.modal-content-full {
  width: 100%;
  height: 100%;
  background-color: $color-white;
  position: relative;
  overflow-y: scroll;

  .modal-inner {
    padding: 80px 20px 0;
    height: 100%;
    position: relative;
    z-index: 1;
  }

  .modal-inner-sub {
    padding: 140px 20px 0;
    height: 100%;
    position: relative;
    z-index: 1;
  }
}

.modal-header {
  background-color: $color-info;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 10px 30px;
  width: 100%;
  height: 60px;
  line-height: 40px;
  color: $color-white;
  font-size: $font-heading;
}

.modal-sub-header {
  position: fixed;
  z-index: 2;
  background-color: $color-background;
  top: 60px;
  left: 0;
  padding: 10px 60px 10px 80px;
  width: 100%;
  height: 60px;
  line-height: 40px;
}

.modal-action {
  color: $color-white;
  display: inline-block;

  &:active,
  &:focus,
  &:hover,
  &:visited {
    color: $color-white;
  }
}

.file-upload-modal {
  margin: 10px 0 5px;

  .file-upload-name {
    width: 315px;
    width: calc(100% - 134px);
    line-height: 22px;
  }
}

.modal-620 {
  width: 620px;

  .row-inner {
    width: 550px;
  }
}

.modal-770 {
  width: 770px;

  .row-inner {
    width: 700px;
  }
}

.modal-900 {
  width: 900px;

  .row-inner {
    width: 830px;
  }
}

// modal attachment
.empty-attachment {
  margin: 10px auto;
  text-align: center;

  img {
    margin-bottom: 10px;
  }

  p {
    margin: 5px 0;
  }
}

.attachment-wrap {
  height: 420px;
  overflow-y: auto;

  &.view {
    height: auto;
    max-height: 420px;
  }
}

.attachment-list {
  li {
    position: relative;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: $theme-shade-2;
    margin: 0 0 20px;
    padding: 17px 15px;
    min-height: 50px;

    .upload-line {
      background-color: $theme-shade-2;
      position: absolute;
      height: 5px;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;

      .success-upload {
        background-color: $theme-shade-1;
        height: 5px;
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
      }
    }

    .attachment-status {
      color: $color-sub;
      font-size: $font-subtitle;
    }

    &.attachment-fail {
      background-color: $color-background-fail;
      border-color: $color-border-fail;

      .attachment-remove,
      .attachment-status {
        color: $color-fail;
      }

      .attachment-remove:hover {
        color: #A70D05;
      }
    }
  }
}

.attachment-remove {
  color: $color-sub;
  font-size: 16px;
  margin: -2px 0 0 7px;
  display: inline-block;
  vertical-align: middle;
}

.box-upload-attachment {
  background-color: $color-background;
  border: 1px solid $theme-shade-2;
  padding: 15px 15px 5px;
  margin-bottom: 20px;

  .form-group {
    margin: 10px 0;
  }

  a {
    color: $theme-hover;

    &:hover {
      text-decoration: underline;
    }
  }

  .attachment-remove {
    color: $color-sub;

    &:hover {
      color: $color-info-dark;
    }
  }

  &.view {
    padding: 10px;

    .color-sub.font-xs,
    p {
      margin: 10px 0 0;
    }

    .icon-check {
      margin-top: -4px;
    }
  }
}

.modal-attachment-list {
  width: 600px;

  .row-inner {
    width: 530px;
  }
}

.modal-deli{
  padding: 0 20px 0 30px !important;
}

@media (max-width: 736px) {
  .modal-content-full {
    .modal-inner-sub {
      padding: 80px 20px 0;
    }
  }

  .modal-620,
  .modal-content {
    width: 90%;
    height: auto;
    margin: 55px auto 10px;

    .row-inner {
      width: 100%;
    }
  }

  .full-popup-inner{
    .frontend-items-list{
      padding:0;
    }
  }
}

@media (max-width: 414px) {
  .attachment-wrap {
    height: auto;
    max-height: 420px;
  }
}
