.op-pagination {
  margin-top: 20px;

  .form-control {
    width: 60px;
    margin: -1px 10px 0;
    padding: 6px 0 6px 15px;
  }

  .page-ctrl {
    display: inline-block;
    width: 34px;
    height: 34px;
    text-align: center;
    padding: 7px 0;
    color: $color-sub;

    &:hover {
      background-color: $color-background;
      color: $color-title;
    }

    > i {
      font-size: 20px;
      padding-bottom: 3px;
    }

    &.page-disabled,
    &.page-disabled > i,
    &.page-disabled:hover {
      cursor: not-allowed;
      color: $color-disable;
      background-color: transparent;
    }
  }
}
@media (max-width: 639px) {
  .op-pagination {
    margin: 20px 10px 10px;

    .form-control {
      width: 60px;
      margin: -1px 10px 0 0;
      padding: 6px 0 6px 15px;
    }
  }
}
