.todo-dropdown{
	top: 34px !important;
	right: unset !important;
	max-width: 150px;
	max-height: 98px !important;
}

.req-box-content{
	width: 100%;
	margin-top: 30px;
	padding:0 20px;
	.head-req{
		color: $color-title;
		font-size: $font-heading;
		margin: 20px 0px;
	}
	.body-req{
		font-size: 10px;
		color: $color-sub;
		.req-title{
			line-height: 1;
			cursor: default;
			font-weight: bold;
			font-size: $font-normal;
			text-transform: uppercase;
		}
		.req-items{
			width: 100%;
			height: 43px;
			padding: 14px;
			margin: 10px 0;
			cursor: pointer;
			border-radius: 2px;
			border:1px solid #EAF0F3;
			background: $color-background;
			// &.draft{
			// 	border-left: 4px solid $color-border-focus;
			// 	.pull-right{
			// 		color: $color-border-focus;
			// 	}
			// }
			// &.awaiting{
			// 	border-left: 4px solid $color-warning;
			// 	.pull-right{
			// 		color: $color-warning;
			// 	}
			// }
			// &.reject{
			// 	border-left: 4px solid #D0021B;
			// 	.pull-right{
			// 		color: #D0021B;
			// 	}
			// }
			.pull-left{
				font-size: $font-normal;
			}
			.pull-right{
				color: #4A90E2;
				font-weight: bold;
				font-size: $font-menu;
			}
			&:hover{
				background: #fff;
				color: $color-normal;
				box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.18);
			}
		}
	}
}

.box-pr-org {
    padding: 10px 0 0 20px;
    color: $color-title;

    .box-dropdown {
        width: calc(100% - 25px);

        .box-dropdown-title.pr-org-dropdown {
            overflow: hidden;
            float: left;
            width: 100%;

            span {
                float: left;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                float: left;
                max-width: calc(100% - 35px);
            }
        }

        .icon-arrow-down-page {
            float: left;
            margin: 6px 0 0 5px;
        }
    }
    .icon-org,
    .icon-overview {
        margin: 5px 5px 0 0;
    }
}

@media (max-width: 736px) {
	.req-box-content{
		padding: 0 10px;
		.head-req{
			margin: 20px 0 10px 0;
		}
		.body-req{
			.column-4{
				margin-top: 10px;
				width: calc(100% - 8px);
			}
		}
	}
}