.table-ein-list {
    thead {
        .col-ein-status {
            width: 220px;
            min-width: 220px;
        }
        .col-ein-buyer {
            width: 185px;
            min-width: 185px;
        }

        .col-ein-ticket {
            width: 90px;
            min-width: 90px;
        }

        .col-ein-no {
            width: 30px;
            min-width: 30px;
            padding: 10px 5px !important;
        }
    }
    tbody>tr {
        cursor: pointer;
        &.cur-default{
            cursor: default;
        }
        &.active {
            background: #CCECFE;
        }

        &.disabled {
            cursor: not-allowed;
            td {
                color: #CCD0D5;
            }
        }

        &.col-selected {
            background: $color-light-blue;
        }

        &:hover {
            td {
                .binv-sub{
                    color: $color-info;
                }
                &.col-action-dot {
                    .pr-action {
                        .box-dropdown-title {
                            border-color: $color-border;
                            background-color: $color-white;
                        }
                    }
                }
            }
        }

        td {
            .noti-green {
                top: -3px;
                right: -2px;
            }

            i.icon-attachment,
            i.icon-delete {
                color: $color-sub;

                &:hover {
                    color: $color-border-focus;
                }
            }
            &.ein-buyer-name {
                max-width: 260px;
            }

            &.col-ein-no {
                width: 30px;
                min-width: 30px;
                padding: 10px 5px !important;
                i{
                    margin-top: 2px;
                }
            }

            .binv-title-w-row{
                width: auto;
                // display: block;
                max-height: 35px;
                // overflow: hidden;
                line-height: 1.5em;
                word-wrap: break-word;
                word-break: break-word;
                text-overflow: ellipsis;

                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }
    }

    &.tb-new-inv {
        th:nth-child(2) {
            padding: 9px 0;
        }

        td:nth-child(2) {
            padding: 15px 0;
        }

        th,
        td {
            cursor: default;
            &:nth-child(2) {
                cursor: pointer;
            }
        }
    }

    .box-org-name {
        max-width: 120px;
    }

    .box-supplier-name {
        max-width: 100px;
    }

    .box-req-name {
        max-width: 80px;
    }

    .icon-calendar {
        top: 7px;
        right: 8px;
        color: $color-info-light;
    }

    .col-detail {
        cursor: default;
        background: #E8ECF1 !important;
        td {
            padding: 0;
            margin: 0;
        }
        &.col-selected {
            background: $color-light-blue !important;
        }
        .in-col-detail {
            width: calc(100% - 62px);
            border-collapse: collapse;
            margin: 15px 20px 30px 30px;
            tr {
                cursor: default !important;
                background: transparent;
                th {
                    padding: 10px 10px 0;
                    line-height: 2.5em;
                    color: $color-normal;
                    border-bottom: 1px solid #DCDEE1;

                    .noti-green {
                        top: -2px;
                        right: -2px;
                    }
                }

                td {
                    padding: 15px 10px;
                    line-height: 1.65em;
                    color: $color-normal;
                    word-break: break-word;
                    border-top: 1px solid #DCDEE1;
                    border-bottom: none !important;
                    &:last-child {
                        cursor: pointer;
                    }
                }

                &.col-detail-return {
                    td {
                        border-top: none;
                        padding: 15px 10px;
                        color: $color-info;
                        border-bottom: none;
                    }
                }

                &:last-child {
                    border-bottom: 1px solid #DCDEE1;
                }
            }

            .row-actions {
                td {
                    color: $color-border-focus;
                }
            }
            th:nth-child(1),
            td:nth-child(1) {
                width: 5%;
                text-align: center;
                border-bottom: 1px solid transparent !important;
                &.ein-border{
                    border-bottom: 1px solid #DCDEE1 !important;
                }
                i.icon-fail {
                    color: $color-sub;
                    margin-top: -2px;
                    &:hover {
                        color: $color-border-focus;
                    }
                }
            }
            th:nth-child(2),
            td:nth-child(2) {
                max-width: 170px;
                &.ein-detail{
                    max-width: 265px;
                }
            }
            &.create {
                th:nth-child(2) {
                    width: 5%;
                }
                th:nth-child(4),
                th:nth-child(6) {
                    width: 10%;
                }
                th:nth-child(3),
                th:nth-child(5),
                th:nth-child(7) {
                    width: 15%;
                }
                th:nth-child(8),
                th:nth-child(9) {
                    width: 20%;
                }
            }
        }
        .ctrl-pad{
            &.a12{
                padding: 12px !important;
            }
        }
        .pd-5{
            &:nth-child(3) {
                min-width: 340px;
            }
            &:nth-child(4),
            &:nth-child(6) {
                min-width: 80px;
            }

            &:nth-child(5),
            &:nth-child(7) {
                min-width: 150px;
            }
        }
        &.non-gr-ein{
            tbody{
                tr{
                    cursor: pointer;
                    &:hover{
                        td{
                            color: $color-info;
                        }
                    }
                }
            }
        }
    }

    .word-wrap {
        white-space: nowrap;
        width: 260px \9;
        overflow: hidden;
        line-height: 20px;
    }

    .text-block {
        max-width: 210px;
    }

    .price-rate {
        right: 10px;
        display: block;
        cursor: pointer;
        font-size: 10px;
        margin-top: -5px;
        position: absolute;
        font-style: normal;
        white-space: nowrap;
        color: $theme-hover !important;
    }

    .icon-arrow-right-page {
        margin-top: -3px;
    }
    .th-w-cb {
        margin-top: -2px;
    }

    br.space{
        line-height: 2;
    }

    .icon-arrow-down-page{
        margin-top: -2px;
    }

    .icon-info{
        color: #D72C22;
    }

    .buyer-inv-num{
        min-width: 130px;
        .binv-sub{
            color: $color-sub;
            font-size: $font-subtitle;
        }
    }

    .buyer-type{
        max-width: 90px;
    }
}

.ein-text-status {
    float: left;
    padding: 15px 10px;

    &.awaiting {
        color: #FFC247;
    }

    &.accepted {
        color: $color-border-focus;
    }

    &.rejected {
        color: #D72C22;
    }

    &.pending {
        color: #7E8EA4;
    }

    &.cancelled {
        color: $color-title;
    }

    &.completed {
        color: #77D042;
    }

    &.expired {
        color: #BEC4CB;
    }
}

.calendar-group {
    width: 275px;
    display: none;
    margin-left: 22px;
    margin-bottom: 20px;

    label {
        margin-bottom: 10px;
    }

    .box-calendar-from,
    .box-calendar-to {
        display: none;
        position: absolute;
        label {
            margin-bottom: 10px !important;
        }
    }
}

.pr-top-search {
    position: relative;
}

.pr-top-status {
    margin-left: 10px;

    .po-dropdown {
        min-width: 163px;
    }
}

.btn-calendar {
    top: 1px;
    width: 46px;
    right: 36px;
    border: none;
    height: 32px;
    outline: none;
    right: 38px \9;
    cursor: pointer;
    padding: 6px 7px;
    text-align: left;
    position: absolute;
    color: $color-info-light;
    background-color: $color-white;

    .icon-arrow-down-page {
        top: 5px;
        right: 0;
        font-size: 22px;
        position: absolute;
    }

    &:active,
    &:focus,
    &:hover {
        color: $color-info;
    }
}

.information-bar {
    line-height: 2em;
    padding: 10px 15px;
    margin-bottom: 50px;
    background: $color-background;
    border-top: 1px solid $color-border;
}

.title-sub {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pr-amount {
    font-size: 30px;
    line-height: 1.7em;
    color: $theme-hover;
}

.noti-red {
    top: -3px;
    right: 3px;
    width: 7px;
    height: 7px;
    position: absolute;
    background-size: 7px 7px;
    background-repeat: no-repeat;
    background-image: url('/images/frontend/i.png');
    background-image: url('/images/frontend/i1x.png') \9;
}

.filter-calendar {
    top: 0;
    z-index: 9;
    width: 636px;
    position: absolute;
    border-radius: 2px;
    padding: 20px 0 0 20px;
    background: $color-white;
    border: 1px solid $color-border;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.04);

    .calendar-popup-title {
        font-size: 14px;
        color: $color-normal;
    }

    label {
        margin: 15px 0 10px;
        color: $color-normal;
        &.radio {
            margin-left: 1px;
            input {
                margin: 3px 0 0 -20px;
            }
        }
    }

    input:read-only{
        cursor:default;
        background: #fff !important;
    }

    .col-calendar-from,
    .col-calendar-to {
        label {
            line-height: 18px;
            margin-bottom: 5px;
        }
    }

    .col-calendar-from {
        float: left;
        width: 302px;

        .box-input-calendar {
            padding-left: 19px;
        }

        .select-date {
            margin-left: 20px;
        }
    }

    .col-calendar-to {
        float: left;
        width: 272px;
        margin: 0 0 0 20px;
    }

    .select-date {
        width: 272px;
        padding: 0 0 10px;

        .form-control,
        .rc-calendar-input {
            background-image: none;

            &::placeholder {
                color: #999;
            }
        }

        .rc-calendar {
            margin-top: -37px;
        }

        .rc-calendar-date-input-wrap {
            width: 268px;
        }
    }
}

.col-action-dot {
    position: relative;
    padding: 0 !important;
}

.pr-action {
    float: right;
    margin-right: 10px;

    .box-dropdown-title {
        padding: 0;
        width: 45px;
        height: 35px;
        margin: 6px 0 0;
        overflow: hidden;
        line-height: 35px;
        position: relative;
        text-align: center;
        border-radius: 3px;
        border: 1px solid transparent;
        color: $color-normal !important;
    }

    &.open,
    &:hover {
        .box-dropdown-title {
            color: #237BBD !important;
            background-color: $color-white;
            border-color: #237BBD !important;
        }
    }

    .box-dropdown-list {
        top: 46px;
        overflow: hidden;

        &.dropdown-top {
            top: inherit;
            bottom: 51px;
        }
        i{
            margin-top: -5px;
            margin-right: 10px;
        }
    }

    .tooltip-top {
        top: -32px;
        width: 66px;
        bottom: auto;
        margin-left: -33px;
    }
}

.col-information-bar {
    float: left;
    max-width: 300px;
    margin-right: 30px;

    .pr-detail-title {
        color: $color-sub;
    }
}

.ein-inner {
    .box-row {
        .w-9 {
            width: 79%;
        }
        .w-3 {
            width: 18%;
            margin-left: 10px;
        }
    }
}

.upload-status{
    top: 50%;
    right: 10px;
    margin-top: -9px;
    position: absolute;
}

/*hack css calendar*/

.rc-calendar-next-year-btn,
.rc-calendar-prev-year-btn {
    display: inline-block;
}

.rc-calendar-header {
    .rc-calendar-prev-year-btn {
        left: 0;
    }

    .rc-calendar-next-year-btn {
        right: 0;
    }

    .rc-calendar-prev-month-btn {
        left: 25px;
    }

    .rc-calendar-next-month-btn {
        right: 25px;
    }
}

.th-w-sort {
    position: relative;
    padding-right: 25px !important;

    i {
        color: #DFE3EF;
        cursor: pointer;
        font-size: 15px;
        margin-left: 5px;
        position: absolute;

        &.active {
            color: $color-info;
        }

        &:hover {
            color: $color-info;
        }
    }

    .icon-arrow-up-page {
        top: 18%;
    }

    .icon-arrow-down-page {
        bottom: 22%;
    }
}

.ein-dropdown {
    .box-dropdown-list,
    .box-dropdown-title {
        width: 180px;
    }
}

.box-dropdown-in-empty {
    width: 134px;
    margin: 0 auto;
}

.box-select-item {
    height: 509px;
    background: $color-background;
    border: 1px solid $color-border;
    &.stick {
        top: 80px;
        width: 17.6%;
        position: fixed;
        min-height: 210px;
        height: calc(100% - 232px);
    }

    .box-select-item-header {
        padding: 15px;
        color: $color-normal;
        font-size: $font-heading;
        border-bottom: 1px solid $color-border;

        .num {
            color: $color-link;
        }
    }

    .box-select-item-content {
        height: 100%;
        margin-top: 20px;
        position: relative;
        padding: 0 15px 15px;

        button {
            width: 100%;
        }

        .btn-add-invoice {
            height: 40px;
            text-align: left;
            border: none !important;
            background: $color-link;

            i {
                font-size: 25px;
            }
            &:hover {
                background: #0c91e0;
            }
            &.btn-op-disabled {
                border: 1px solid $color-border;
            }
        }

        .box-select-in-item-content {
            margin-top: 10px;
            overflow-y: auto;
            height: calc(100% - 120px);

            .box-item-ein {
                padding: 10px;
                margin-top: 10px;
                text-align: right;
                line-height: 20px;
                position: relative;
                background: #ffffff;
                @include border-radius(3px);

                span {
                    color: $color-link;
                }

                .ein-add-item {
                    opacity: 0;
                    cursor: pointer;
                    text-align: left;
                    padding-top: 10px;
                    position: relative;
                    i {
                        font-size: 25px;
                        color: $color-link;
                    }

                    span {
                        min-width: 40px;
                        position: absolute;
                    }
                }
            }
            .add-hover {
                border: 1px solid $color-border;
                &:hover {
                    border: 1px solid #0c91e0 !important;
                }
            }
        }
    }
}

.frontend-items-list-ein-add {
    overflow-x: hidden;
}

.calender-popup-ein {
    display: none;
    position: absolute;

    &.open {
        display: block;
    }
}

.ein-title {
    color: #3B444F;
    margin-top: 30px;
    padding: 0 0 10px;

    span {
        color: $color-sub;
    }
}

.price-rate-box {
    z-index: 1;
    width: 455px;
    display: none;
    padding: 20px;
    text-align: left;
    max-width: 455px;
    background: white;
    position: absolute;
    color: $color-normal !important;
    box-shadow: 0 0 5px rgba(76, 86, 103, .1), 0 5px 25px rgba(31, 37, 50, .15);

    &.unfull {
        right: 0;
        left: inherit;
    }

    &.detail {
        left: 0;
    }
}

.over-scroll {
    height: 200px;
    overflow-y: scroll;
}

.over-table {
    width: 415px;
    display: table;
    border-collapse: collapse;
    .over-row {
        display: table-row;
        border-bottom: 1px solid #f5f5f5;

        &:first-child,
        &:last-child {
            border-bottom: 1px solid $color-border;
        }

        .over-cell {
            display: table-cell;

            &.th {
                font-weight: bold;
                padding: 0 10px 10px;
            }

            &.td {
                padding: 15px;
            }
        }
    }

    .over-detail {
        height: 230px;
        overflow-y: scroll;
    }
}

.box-link {
    top: 2px;
    position: relative;
}

// modal attatchment
.box-overflow-file {
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
    .box-file {
        padding: 15px;
        font-size: $font-menu;
        border: 1px solid $color-info-light;
        background-color: $color-background;

        .optional {
            color: #7D8EA5;
        }

        .form-group {
            margin: 30px 0 0;
        }

        &.require {
            border: 1px solid #EFCAC8;
            background: #F8E3E7 !important;
        }
    }

    .box-require {
        float: left;
        margin-top: 5px;

        i {
            color: #E7372D;
        }

        span {
            top: 2px;
            color: #E7372D;
            position: relative;
        }
    }
}

.form-cell-inv {
    position: relative;
    line-height: 1.7em;

    .error {
        margin-bottom: 2px;
        border: 1px solid #E7372D;
    }

    i {
        color: #E7372D;
    }

    span {
        top: 2px;
        color: #E7372D;
        position: relative;
    }

    input:read-only{
        cursor:default;
        background: #fff !important;
    }
}

.top-view-title {
    margin: 20px 0;
    line-height: 20px;

    .title-pr-number {
        font-size: 18px;
        color: $color-title;
    }

    .pr-status {
        margin: 0 0 0 5px;
        vertical-align: top;
        display: inline-block;
    }

    .draft {
        color: $color-info;
    }

    .approved {
        color: $color-success;
    }

    .awaiting {
        color: $color-warning;
    }

    .rejected {
        color: $color-fail;
    }

    .cancelled {
        color: $color-title;
    }

    .completed {
        color: #77D042;
    }

    .pending {
        color: #7e8ea4;
    }

    .expired {
        color: #BEC4CB;
    }

    .pr-status-reason {
        padding: 0 5px;
    }

    .icon-info {
        font-size: 20px;
        margin: -5px 0 0;
        color: $color-normal;
    }
}

.modal-history{
    .box-row{
        margin-bottom: 10px;
    }
    br{
        line-height: 1.5;
    }
}

.space-bottom-clear {
  height: 75px;
  clear: both;
}

.box-all-cost {
  padding: 10px 0 0;
  color: $color-title;

  .icon-org {
    margin: 5px 5px 0 0;
  }
}

.all-cost-dropdown-title {
  font-size: 18px;
  padding: 0 10px;
  cursor: pointer;
  line-height: 32px;

  .icon-arrow-down-page {
    font-size: 20px;
    margin-left: 12px;
    margin-top: -3px;
  }

  &:active,&:hover{
    background-color: $color-background;
  }
}

// .box-dropdown.open .all-cost-dropdown,
// .all-cost-dropdown:active,
// .all-cost-dropdown:hover {
//   background-color: $color-background;
// }

.all-cost-dropdown-list {
  left: 0;
  top: 37px;
  padding: 0;
  opacity: 0;
  right: auto;
  min-width: 180px;
  max-width: 375px;
  overflow: hidden;
  background: #fff;
  max-height: 400px;
  position: absolute;
  @include border-radius(2px);
  transition: all 0.4s ease-out;
  border: 1px solid $color-border;
  -webkit-transition: all 0.4s ease-out;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.04) !important;
  -moz-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.04) !important;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.04) !important;

  ul {
    margin: 10px 0;
    overflow-y: auto;
    max-height: 375px;
  }

  li {
    position: relative;

    a {
        width: 100%;
        display: block;
        font-size: 13px;
        color: $color-sub;
        padding: 10px 15px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &.child-cost{
        a{
            padding-left: 30px;
        }
    }
    &:first-child{
        margin-bottom: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid $color-border-dropdown;
    }
    &:last-child{
        margin-top: 5px;
        padding-top: 5px;
        border-top: 1px solid $color-border-dropdown;
    }
    &:hover,&.selected{
        a{
            color: $color-info;
            background: #EDF1F4;
        }
    }
  }

  .active {
    background-color: $color-background;
    color: $color-info;
  }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .box-select-item {
        &.stick {
            height: calc(100% - 210px) !important;
        }
    }
}

@media (max-width: 1024px) {
    .frontend-items-list-ein-add {
        overflow-x: scroll;
    }
    .box-select-item {
        .box-select-item-header {
            padding: 10px;
        }
        .box-select-item-content {
            padding: 0 10px;
            margin-top: 10px;
            .btn-add-invoice {
                padding: 0 5px;
            }
            .box-select-in-item-content {
                .box-item-ein {
                    padding: 5px;
                    .ein-add-item {
                        span {
                            display: none;
                        }
                    }
                    .column-5 {
                        width: 25px;
                    }
                    .column-7 {
                        width: calc(100% - 35px);
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .table-ein-list {
        thead {
            .col-ein-status {
                width: 100%;
                min-width: 0;
            }
        }

        .col-detail {
            .in-col-detail {
                margin: 10px;
                width: calc(100% - 20px);
                tr {
                    td,
                    th {
                        padding: 6px 3px;
                    }
                }
                th:nth-child(1),
                td:nth-child(1) {
                    padding: 6px 3px;
                }
            }
        }
    }

    .th-w-sort {
        padding-right: 12px !important;

        .icon-arrow-up-page {
            display: none;
        }

        .icon-arrow-down-page {
            display: none;
        }
    }

    .col-information-bar {
        width: 100%;
        float: none;
        max-width: none;
        overflow: hidden;

        .pr-detail-title {
            width: 40%;
            float: left;
        }

        .pr-detail-detail {
            width: 60%;
            float: right;
        }
    }
    .box-overflow {
        .pull-right {
            float: left !important;
        }
    }
    .ein-inner {
        .box-row {
            .w-3 {
                width: 26%;
            }
            .w-9 {
                width: 70%;
            }
        }
    }
    .pr-top-status {
        width: 100%;
        .po-dropdown {
            margin: 0 10px;
        }
    }
    .modal-history {
        .column-2,.column-5{
            width: 100%;
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 414px) {
    .table-ein-list {
        thead {
            th {
                font-size: 12px;
                padding: 10px 3px;
            }
        }

        tbody {
            tr {
                td {
                    font-size: 12px;
                    padding: 10px 3px;
                }
            }
        }

        .col-detail {
            .in-col-detail {
                width: 100%;
                margin: 10px 0;

                tr {
                    td,
                    th {
                        padding: 6px 3px;
                    }
                }
            }
        }
    }

    .col-ein-status,
    .ein-text-status {
        width: 100%;
        min-width: 0;
    }

    .ein-text-status {
        padding: 10px 3px;

        .icon-dot {
            display: none;
        }
    }

    .th-w-sort {
        padding-right: 12px !important;

        .icon-arrow-up-page {
            display: none;
        }

        .icon-arrow-down-page {
            display: none;
        }
    }

    .top-view-title {
        .title-pr-number {
            display: block;
            margin: 0 0 5px;
        }

        .pr-status {
            margin: 0 0 0 5px;
        }

        .icon-info {
            margin: -3px 0 0;
        }
    }
}
