.fe-op-header {
  background-color: $theme-base;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 99;
  color: #fff;
  top: 0;
  left: 0;
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.10);

  .op-inner {
    padding: 0 15px;
  }

  .op-logo {
    width: 138px;
    height: 27px;
    float: left;
    margin: 17px 5px 16px;
    background-repeat: no-repeat;
    background-size: 138px 27px;
    display: block;
    top: 0;

    img {
      width: 100%;
    }
  }

  .box-dropdown {
    &:hover,&.open {
      .nav-format {
        color: #BCCEE3 !important;
        background-color: $color-info-dark !important;
      }
    }
  }

  .box-dropdown-list {
    top: 60px;
    max-width: 320px;

    .user-dd-logo {
      text-align: center;
      padding: 0 20px;
      img{
        max-width: 210px;
        max-height: 64px;
      }
    }

    .user-dd-display {
      padding: 10px 20px;
      border-bottom: 1px solid $color-border-dropdown;

      .font-heading {
        display: inline-block;
        margin-bottom: 5px;
      }

      .color-sub,
      .font-heading {
        line-height: 1.1em;
      }
    }

    .super-user {
      border-bottom: 1px solid $color-border-dropdown;
    }

    .space-select {
      font-size: 20px;
      width: 25px;
      display: inline-block;
      margin-top: -3px;
    }
  }
}

.box-dropdown-profile {
  .box-dropdown-list {
    width: 275px;
    max-width: 275px;
  }
}

.navbar-toggle {
  float: left;
  border: none;
  display: none;
  cursor: pointer;
  position: relative;
  padding: 24px 17px;
  background-image: none;
  background: transparent;

  &:focus {
    outline: 0;
  }

  .icon-bar {
    background-color: $color-white;
    display: block;
    width: 16px;
    height: 2px;
    border-radius: 1px;
  }

  .icon-bar + .icon-bar {
    margin-top: 3px;
  }
}

.nav-format {
  padding: 15px;
  color: #BCCEE3;
  line-height: 30px;
  display: block;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.user-set-top {
  float: left;
  min-width: 50px;
  text-align: center;
}

.lang-flag {
  font-size: 15px;
}

.lang-text{
  margin-left: 10px;
}

.icon-user-set {
  font-size: 21px;
}

.lang-dropdown {
  float: left;
  position: relative;
}

.lang-selected-box {
  display: block;
}

.profile-name{
  float: right;
  margin-top: 2px;
  span{
    margin:0 10px 0 8px;
  }
  i{
    top: -2px;
    font-size: 16px;
    position: relative;
  }
}

@media (max-width:1160px) {
  .fe-op-header {
    .op-logo {
      margin: 17px 10px 16px;
    }
  }
}
@media (max-width:767px) {
  .navbar-toggle {
    display: block;
    padding: 24px 10px;
  }
}
@media (max-width:736px) {
  .lang-selected-box {
    // width: 37px;
    padding: 15px;
    text-align: center;
  }

  .user-set-top {
    min-width: unset;
  }

  .nav-format {
    .lang-text {
      display: none;
    }
  }

  .profile-name{
    display: none;
  }

  .lang-dropdown{
    left: 0;
  }
}

@media (max-width: 414px) {
  .fe-op-header {
    .op-inner {
      padding: 0;
    }
    .op-logo {
      margin: 17px 0px 16px;
    }
    .box-dropdown-list{
      &.lang-dropdown-list,&.noti-dropdown-list{
        width: auto !important;
      }
    }
  }
  .navbar-toggle {
    display: block;
    padding: 24px;
  }
}
