.op-nav-left-icon {
    top: 0;
    left: 0;
    z-index: 98;
    height: 100%;
    position: fixed;
    padding: 45px 0 0;
    width: $col-left-size;
    transition: width 0.3s;
    -webkit-transition: width 0.3s;
    background-color: $color-background;
    border-right: 1px solid $color-border-dropdown \9;

    .nav-left-inner {
        padding: 0;
    }

    .fe-nav-list {
        margin: 15px 0;
        li {
            a {
                display: block;
                padding: 10px 5px;
                text-align: center;
                color: $color-normal;
                &.active {
                    font-weight: bold;
                    color: $theme-hover;
                    border-left-color: $theme-hover;
                    background-color: $color-background;
                    &:hover {
                        color: #297CBB;
                        background: #E9F1F8;
                    }
                }

                .tooltip-left {
                    top: 18px;
                    left: 55px;
                    color: #fff;
                    z-index: 999;
                    padding: 5px 0;
                    position: absolute;
                    white-space: nowrap;
                    text-align: center;
                    border-radius: 3px;
                    visibility: hidden;
                    background-color: #3B444F;
                    font-size: 13px!important;
                    // hide a tootip first
                    display: none;
                    span {
                        padding: 0 10px;
                        max-width: calc(100% - 10px);
                        color: $color-white !important;
                        background-color: $color-title !important;
                    }
                    &:hover {
                        color: $color-white !important;
                        background-color: $color-title !important;
                    }
                    &:after {
                        top: 50%;
                        width: 0;
                        height: 0;
                        content: '';
                        right: 100%;
                        margin-top: -5px;
                        position: absolute;
                        border-top: 5px solid transparent;
                        border-right: 5px solid $color-title;
                        border-bottom: 5px solid transparent;
                    }
                }
            }

            &:hover,
            &:hover * {
                // color: #297CBB;
                background: #E9F1F8;
                .tooltip-left {
                    visibility: visible;
                    animation-name: opa;
                    animation-duration: 1s;
                }
            }

            .icon-nav {
                width: 20px;
                height: 20px;
                font-size: 20px;
                vertical-align: top;
                display: inline-block;
                width: 100%;
                text-align: center;
                @include border-radius(50%);
                &.active {
                    color: #297CBB;
                }
                &.icon-condition {
                    font-weight: bold;
                }
            }
        }
    }
    .title{
        font-size: 11px;
        line-height: 1;
        display: block;
        margin-top: 5px;
        font-weight: bold;
    }
    .hided,
    .take-action {
        display: none;
    }
    &.open {
        width: 225px;
        .fe-nav-list {
            margin: 35px 0;
            li {
                position: relative;
                a {
                    text-align: left;
                    white-space: nowrap;
                    animation-name: opa;
                    animation-duration: 1s;
                    padding: 10px 15px 10px 23px !important;
                }
                .icon-nav {
                    width: auto;
                    font-size: 15px;
                }
                .title-sub {
                    color: #7E8EA4;
                    font-size: 13px;
                    &.active {
                        color: #297CBB;
                    }
                }
                &:hover,
                &:hover * {
                    .tooltip-left {
                        visibility: hidden;
                    }
                }
            }
        }
        .title {
            color: #586575;
            font-size: 10px;
            font-weight: bold;
            margin: 0 0 0 10px;
            display: inline-block;
        }
        .take-action {
            top: 9px;
            right: 20px;
            cursor: pointer;
            margin-top: -2px;
            position: absolute;
            display: inline-block;
            animation-duration: 1s;
            animation-name: opa;
        }
        .hided {
            display: list-item;
            a {
                &:hover {
                    .title-sub {
                        color: #297CBB;
                    }
                }
            }
        }
    }
}

#overlay-box {
    top: 0;
    left: 0;
    z-index: 96;
    opacity: .3;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    background-color: #000;
}

#overlay-menu {
    top: 0;
    z-index: 97;
    width: 220px;
    height: 100%;
    display: none;
    color: #586575;
    padding-top: 75px;
    position: fixed;
    background: #ffffff;
    animation-name: opa;
    left: $col-left-size;
    animation-duration: 1s;
    box-shadow: 2px 0 6px 0 rgba(0, 0, 0, 0.10);
    .header-menu {
        width: 100%;
        float: left;
        cursor: default;
        font-size: 10px;
        font-weight: bold;
        padding: 10px 20px;
        border-bottom: 1px solid #E6E8EB;
        i {
            top: 3px;
            right: 10px;
            float: right;
            display: none;
            font-size: 10px;
            cursor: pointer;
            font-weight: bold;
            position: relative;
            &:hover {
                color: #297CBB;
            }
        }
    }
    ul {
        padding-top: 15px;
        .list-menu-head {
            width: 100%;
            a {
                display: block;
                color: #3B444F;
                cursor: default;
                font-size: 12px;
                font-weight: bold;
                padding: 10px 20px;
            }
        }
        .list-menu {
            width: 100%;
            a {
                display: block;
                color: #7E8EA4;
                font-size: 13px;
                padding: 10px 30px;
                &:hover {
                    // color: #297CBB;
                    background: #E9F1F8;
                }
                &.active {
                    color: #297CBB;
                }
            }
        }
    }
}

@keyframes opa {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 1024px) {
    #overlay-menu {
        .header-menu {
            i{
                display: block;
            }
        }
    }
    .op-nav-left-icon {
        .fe-nav-list {
            li {
                &:hover,
                &:hover * {
                    .tooltip-left {
                        visibility: hidden;
                    }
                }
            }
        }
    }
}