* {
  box-sizing: border-box;
}

html{
  -webkit-text-size-adjust: 100%;
}

body,
html {
  font-family: $font-family;
  font-size: $font-normal;
  color: $color-normal;
  line-height: 1.3em;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-y: auto \9;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  margin: 0 0 10px;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

li,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  border: none;
}

#content {
  height: 100%;
  position: relative;
  width: 100%;
}

.body-container {
  width: 100%;
  height: auto;
  min-height: 100%;
  position: relative;
  background-color: $body-bg;
  min-width: 320px;
}

.fe-page-container {
  position: relative;

  .top-white-space {
    width: 100%;
    height: 30px;
    overflow: hidden;
    position: fixed;
    top: 60px;
    left: 0;
    background-color: $color-white;
    z-index: 90;
  }

  .op-content-wrap {
    margin-left: $col-left-size;
    padding: 80px 20px 50px;
    -webkit-transition: margin-left 0.4s;
    transition: margin-left 0.4s;

    &.full {
      margin-left: 0;
    }
  }
}

.box-alert-wrap {
  position: relative;
  margin: -20px -20px 0;

  .box-alert.box-fixed-content {
    margin: 0;
    position: relative;
  }
}

.tab-menu-back {
  height: 40px;
  margin: 0 0 30px;
  // border-bottom: 1px solid $fe-color-border;
  @include background(#fff, '/images/frontend/dotgrey.png', repeat-x, 0, bottom);

  .list-tab-menu-back {
    float: left;
    height: 40px;
    font-size: 14px;
    color: $color-sub;
    line-height: 20px;
    padding: 10px 20px;

    &.active {
      font-weight: bold;
      color: $color-info;
      background-color: #fff;
      border-bottom: 1px solid $color-info;

      &:hover {
        color: $color-info;
        border-bottom: 1px solid $color-info;
      }
    }

    &:hover {
      color: $color-info;
      border-bottom: 1px solid $color-info;
    }

    .menu-noti {
      color: #fff;
      height: 16px;
      padding: 0 7px;
      min-width: 20px;
      font-size: 11px;
      overflow: hidden;
      font-weight: bold;
      line-height: 16px;
      border-radius: 8px;
      vertical-align: top;
      margin: 2px 0 0 10px;
      display: inline-block;
      background-color: #E7372D;
    }
  }
}

.empty-items-list {
  margin: 150px 0;
  line-height: 1.8em;

  > img {
    margin: 0 0 20px;
  }

  .font-heading {
    color: $color-title;
  }
}

.frontend-top-ctrl {
  margin-bottom: 20px;
}
/* column style */
.box-overflow {
  overflow: hidden;
}

.box-row {
  @include clearfix;
  width: 101.95%;
  margin-left: -1.95%;
  margin-right: -1.95%;

   > [class^="column-"],
  > [class*=" column-"] {
    margin-left: 1.95%;
  }
}

.column-12 {
  width: 98.002%;
}

.column-11 {
  float: left;
  width: 89.668%;
}

.column-10 {
  float: left;
  width: 81.343%;
}

.column-9 {
  float: left;
  width: 73.013%;
}

.column-8 {
  float: left;
  width: 64.685%;
}

.column-7 {
  float: left;
  width: 56.304%;
}

.column-6 {
  float: left;
  width: 48.02%;
}

.column-5 {
  float: left;
  width: 39.75%;
}

.column-4 {
  float: left;
  width: 31.368%;
}

.column-3 {
  float: left;
  width: 23.0392%;
}

.column-2 {
  float: left;
  width: 14.71%;
}

.column-1 {
  float: left;
  width: 6.382%;
}
/* alert */
.box-alert {
  border-left-width: 3px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-style: solid; //margin: 0 0 20px;
  padding: 8px 10px;

  &.box-alert-success {
    background-color: $color-background-success;
    background-color: $color-background-success-rgba;
    border-color: $color-border-success;
    border-left-color: $color-success;
    color: $color-success;

    &.no-transparent {
      background-color: $color-background-success;
    }
  }

  &.box-alert-fail {
    background-color: $color-background-fail;
    background-color: $color-background-fail-rgba;
    border-color: $color-border-fail;
    border-left-color: $color-fail;
    color: $color-fail;

    &.no-transparent {
      background-color: $color-background-fail;
    }
  }

  &.box-alert-warning {
    background-color: $color-background-warning;
    background-color: $color-background-warning-rgba;
    border-color: $color-border-warning;
    border-left-color: $color-warning;
    color: $color-warning;

    &.no-transparent {
      background-color: $color-background-warning;
    }
  }

  &.box-alert-info {
    background-color: $color-background-info;
    background-color: $color-background-info-rgba;
    border-color: $color-border-info;
    border-left-color: $color-info;
    color: $color-info;

    &.no-transparent {
      background-color: $color-background-info;
    }
  }
}
/*loading*/
.loading-wrap {
  width: 100%;
  height: 4px;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  background-color: #E0E0E0;

  .loading-progress {
    height: 4px;
    background-color: #77D042;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.show-sm {
  display: none;
}
/*responsive*/
@media (max-width:1160px) {
  .fe-page-container {
    .op-content-wrap {
      margin-left: 0;
    }
  }
}
@media (max-width:736px) {
  .show-sm {
    display: block !important;
  }

  .hide-sm {
    display: none !important;
  }
  .frontend-items-list{
    padding:0 10px;
  }
}
@media (max-width: 414px) {
  .fe-page-container {
    margin: 60px 0 0;

    .op-content-wrap {
      padding: 10px 0;
    }
  }

  .box-alert-wrap {
    margin: -10px -10px 0;
  }
}
