.table-approver-list {
  .col-side-10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  tbody {
    > tr {
      cursor: pointer;
    }

    .col-checkbox label {
      margin: -3px 0 0;
    }

    .col-supplier {
      min-width: 135px;

      .text-block {
        max-width: 135px;
      }
    }

    .col-requester {
      min-width: 120px;

      .text-block {
        max-width: 120px;
      }
    }

    .col-received {
      min-width: 85px;
    }

    .col-type {
      min-width: 120px;
    }

    .col-list-total {
      min-width: 100px;
    }

    .col-approve-status {
      // min-width: 278px;
      max-width: 278px;
      // width: 278px;
      padding-top: 6px !important;
      padding-bottom: 6px;
      padding-right: 0 !important;

      .ellipsis-status {
        min-width: 140px;
      }

      .approved,
      .awaiting,
      .rejected {
        float: left;
        width: 90px;
        line-height: 34px;
      }

      .approved {
        color: $color-success;
      }

      .awaiting {
        color: $color-warning;
      }

      .rejected {
        color: $color-fail;
      }
    }

    .text-block {
      vertical-align: top;
    }

    tr:hover {
      .row-action {
        .box-dropdown-title {
          border-color: $color-border;
          background-color: $color-white;
        }
      }
    }
  }
}

.ellipsis-status {
  float: left;
  max-width: 190px;
  min-width: 130px;

  .box-btn-app {
    float: left;

    .btn-op-default {
      width: 100px !important;
      max-width: 100px !important;
      min-width: 0 !important;
    }
  }
}

.col-row-action {
  position: relative;
}

.row-action {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 10px;

  &.open,
  &:hover {
    .box-dropdown-title {
      background-color: $color-white;
      border-color: #237BBD !important;
      color: #237BBD !important;
    }
  }

  .box-dropdown-title {
    position: relative;
    text-align: center;
    padding: 0;
    margin: 6px 0 0;
    line-height: 35px;
    width: 45px;
    height: 35px;
    overflow: hidden;
    color: $color-normal !important;
    border-radius: 3px;
    border: 1px solid transparent;
  }

  .box-dropdown-list {
    top: 46px;
    overflow: hidden;

    &.dropdown-top {
      top: inherit;
      bottom: 51px;
    }
  }

  .tooltip-top {
    width: 66px;
    margin-left: -33px;
    bottom: auto;
    top: -32px;
  }
}

.row-icon-action {
  font-size: 20px;
  margin: -1px 10px 0 0;
}
@media (min-width: 1500px) {
  .table-approver-list {
    tbody {
      .col-requester,
      .col-supplier {
        width: auto !important;
      }
    }
  }
}
@media (min-width: 1320px) {
  .table-approver-list {
    tbody {
      .col-requester,
      .col-supplier {
        min-width: 160px;
        // max-width: none;
        width: 160px;

        .text-block {
          max-width: 100%;
        }
      }
    }
  }
}
@media (max-width: 1250px) {
  .table-approver-list {
    .col-supplier {
      display: none;
    }
  }
}
@media (max-width: 1130px) {
  .table-approver-list {
    .col-type {
      display: none;
    }
  }
}
@media (max-width: 736px) {
  .table-approver-list {
    tbody {
      .col-prnumber {
        .ellipsis {
          white-space: normal;
        }
      }

      .col-requester {
        min-width: 200px;
        max-width: 200px;
        width: 200px;

        .text-block {
          max-width: 170px;
        }
      }

      .col-approve-status {
        // min-width: 110px;
        max-width: 110px;
        // width: 110px;
        .ellipsis-status {
          width: 100px;
          overflow: hidden;

          > div {
            width: 100%;
          }
        }
      }
    }
  }
}
@media (max-width: 639px) {
  .table-approver-list {
    > thead {
      tr th {
        padding: 10px 5px;
        font-size: 12px;
        border-left: none;
        border-right: none;
      }

      .col-po-status {
        width: 120px;
        min-width: 0;
      }
    }

    tbody {
      tr {
        td {
          padding: 10px 5px;
          font-size: 12px;
          border-left: none;
          border-right: none;
        }
      }
    }
  }
}
@media (max-width: 550px) {
  .table-approver-list {
    tbody {
      .col-requester {
        min-width: 80px;
        max-width: 80px;
        width: 80px;

        .text-block {
          white-space: normal;
          max-width: 100%;
        }
      }

      .col-approve-status {
        // min-width: 80px;
        max-width: 80px;
        // width: 80px;
        padding: 1px 0 0 5px !important;

        .ellipsis-status {
          width: 75px;
        }

        .icon-dot {
          display: none;
        }
      }
    }
  }
}
// approver view pr

.top-view-title {
  line-height: 20px;
  margin: 20px 0;

  .title-pr-number {
    font-size: 18px;
    color: $color-title;
  }

  .pr-status {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 5px;
  }

  .draft {
    color: $color-info;
  }

  .approved {
    color: $color-success;
  }

  .awaiting {
    color: $color-warning;
  }

  .rejected {
    color: $color-fail;
  }

  .cancelled {
    color: $color-title;
  }

  .completed {
    color: #77D042;
  }

  .pr-status-reason {
    padding: 0 5px;
  }

  .icon-info {
    font-size: 20px;
    margin: -5px 0 0;
    color: $color-normal;
  }

  .po-status {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 5px;

    &.awaiting {
      color: #FFC247;
    }

    &.accepted {
      color: $color-border-focus;
    }

    &.rejected {
      color: $color-red;
    }

    &.failed {
      color: $color-disable;
    }

    &.cancelled {
      color: $color-title;
    }

    &.completed {
      color: #77D042;
    }
  }
}

.top-view-name {
  margin: 0 0 15px;
  font-size: 13px;
  color: $color-normal;

  .title {
    font-size: 14px;
    color: $color-title;
  }
}

.information-bar.viewpr {
  margin-bottom: 50px;
}

.col-information-bar {
  float: left;
  margin-right: 30px;
  max-width: 300px;

  .pr-detail-title {
    color: $color-sub;
  }
}

.section-pr-title {
  border-bottom: 1px solid $color-border;
  padding: 0 0 10px;
  font-size: $font-heading;
  color: $color-title;
  margin-bottom: 40px;
}

.table-view-list-item {
  margin-bottom: 50px;
  position: relative;

  .row-reject td,
  .row-reject td *,
  .row-reject:hover td {
    color: $color-normal;
    cursor: default;

    &.col-checkbox {
      pointer-events: none;
    }
    // .word-wrap .text-block {
    text-decoration: line-through;
    // }
    .icon-special {
      // opacity: 0.3;
      text-decoration: none;
    }

    &.col-input,
    &.col-input *,
    &.col-pr-action,
    &.col-pr-action * {
      text-decoration: none;
    }

    .reject-item {
      .icon-info {
        color: $color-normal !important;
        cursor: pointer !important;
        font-size: 20px;
        margin-top: -1px;
      }

      .color-fail {
        color: $color-fail !important;
        font-size: 11px;
      }

      .op-tooltip-text {
        color: $color-white !important;
      }
    }
  }

  .row-disabled *,
  .row-disabled:hover * {
    color: $color-medium-grey !important;
    cursor: default;
    pointer-events: none;

    .icon-special {
      opacity: 0.3;
    }

    .price-rate {
      color: $color-medium-grey !important;
    }

    a.box-attachment .noti-green,
    a.box-condition .noti-green,
    a.box-delivery .noti-green {
      color: $color-medium-grey;
    }
  }

  .row-danger * {
    background: #F8E3E7;
  }

  .col-noshow {
    border: none !important;
  }

  .col-qty {
    width: 100px;
    min-width: 100px;
  }

  .box-pr-attach {
    position: absolute;
    left: 0;
    bottom: 95px;
    line-height: 47px;
    color: $color-normal !important;

    a {
      color: $color-link;

      &:hover span {
        text-decoration: underline;
      }
    }

    .icon-attachment {
      font-size: 20px;
      margin-top: -3px;
    }

    &:hover {
      color: $color-normal;
    }
  }

  .col-gr-unit {
    width: 8%;
  }
}
@media (max-width: 736px) {
  .information-bar.viewpr {
    margin-bottom: 10px;

    .pull-right.text-right {
      float: none !important;
      text-align: left !important;
    }
  }

  .table-view-list-item {
    thead tr th {
      padding: 10px 5px;
    }

    tbody tr td {
      padding: 15px 5px;
    }

    .col-qty {
      width: 70px;
      min-width: 0;
      text-align: right;
    }

    .col-item-name {
      width: 20%;
      padding: 0 5px !important;

      .word-wrap {
        width: 100%;

        .ellipsis {
          width: calc(99% - 20px);
        }
      }
    }
  }

  .col-information-bar {
    width: 100%;
    max-width: none;
    float: none;
    overflow: hidden;

    .pr-detail-title {
      float: left;
      width: 40%;
    }

    .pr-detail-detail {
      float: right;
      width: 60%;
    }
  }

  .pr-amount {
    font-size: 18px;
  }

  .icon-special {
    margin-left: 0;
  }

  .top-view-name {
    margin: -15px 0 20px;
  }
}
@media (max-width: 530px) {
  .table-view-list-item {
    .col-item-name {
      width: 160px;

      .word-wrap {
        width: 160px;
      }
    }
  }
}
@media (max-width: 414px) {
  .table-view-list-item {
    .col-item-name {
      .text-block {
        line-height: 1.25em;
        max-height: 33px;
        white-space: normal;
        overflow: hidden;
      }
    }

    .col-qty {
      width: 45px;
      min-width: 0;
    }
  }

  .col-item-name .icon-special {
    margin-left: -3px;
  }
}
@media (max-width: 375px) {
  .table-view-list-item {
    .col-item-name {
      width: 120px;

      .word-wrap {
        width: 120px;
      }
    }
  }

  .col-item-name {
    padding: 0 0 0 5px !important;
  }
}
@media (max-width: 360px) {
  .table-view-list-item {
    .col-item-name {
      width: 110px;

      .word-wrap {
        width: 110px;
      }
    }
  }
}

.box-acc-view {
  margin-bottom: 25px;
}

.table-acc-detail-list {
  .col-item-name .word-wrap {
    max-width: 240px;
  }
}
@media (max-width: 736px) {
  .box-acc-view {
    margin-bottom: 0;
  }

  .table-acc-detail-list {
    .col-item-name .word-wrap {
      max-width: 150px;
      width: 150px;

      .text-block {
        max-width: calc(100% - 25px);
        padding-right: 5px;
      }
    }
  }
  // vat
  .view-pr-vat {
    width: 90%;

    .modal-title {
      padding: 20px 20px 15px;
    }

    .modal-inner {
      padding: 30px 15px;
    }

    .w-15per {
      display: none;
    }

    .box-table .table-thead .table-column {
      padding: 10px 5px;
      font-size: 12px;
    }

    .box-table .table-body .table-column {
      padding: 15px 5px;
    }

    .w-30per {
      width: 40%;
    }

    .w-10per {
      width: 15%;
    }

    .w-10per {
      text-align: center;
    }
  }
}
@media (max-width: 414px) {
  .top-view-title {
    .title-pr-number {
      display: block;
      margin: 0 0 5px;
    }

    .pr-status {
      margin: 0 0 0 5px;
    }

    .icon-info {
      margin: -3px 0 0;
    }
  }
}
