.table-gr-list {
  > thead tr th {
    &.col-gr-supplier {
      border-right: none;
    }

    &.col-gr-action {
      border-left: none;
    }
  }

  > tbody tr {
    cursor: pointer;

    td {
      &.col-gr-supplier {
        border-right: none;
      }

      &.col-gr-action {
        border-left: none;
        padding: 0;
      }
    }
  }
}

.gr-dropdown {
  .box-dropdown-title {
    background: #fff;
    min-width: 100px;

    .placeholder {
      color: #999999;
    }
  }
}

.box-gr-attachment {
  width: 100%;
  margin-top: -20px;
  margin-bottom: 30px;
}

.row-optional-detail {
  overflow: hidden;

  .pull-left {
    margin-right: 50px;
  }
}

.col-gr-input {
  padding: 0;
  min-width: 280px;
  width: 285px;
}

.inner-col-1,
.inner-col-2 {
  width: 140px;
  float: left;
}

.inner-col-2 {
  border-left: 1px solid $color-border;
}

.table-view-list-gr {
  thead {
    th.col-gr-input {
      padding: 0;

      .inner-col-1,
      .inner-col-2 {
        padding: 10px 15px;
      }
    }
  }

  tbody {
    td.col-gr-input {
      padding: 0;

      .inner-col-1,
      .inner-col-2 {
        padding: 6px 10px;
      }
    }
  }
}

a.gr-attachment {
  margin: -3px 3px 0;
}

select.form-control.gr-reason {
  &:required:invalid {
    color: #999999;
  }

  option[value=""][disabled] {
    display: none;
  }

  option {
    color: $color-normal;
  }
}
@media (max-width: 1366px) {
  .table-gr-list {
    > thead tr th {
      &.col-gr-org {
        width: 160px;
      }
    }
  }
}
@media (max-width: 1260px) {
  .table-view-list-gr {
    td:nth-child(2),
    th:nth-child(2) {
      width: 18%;
    }

    thead {
      th.col-gr-input {
        .inner-col-1,
        .inner-col-2 {
          width: 50%;

          .box-dropdown-title {
            position: relative;
          }
        }
      }
    }

    tbody {
      td.col-gr-input {
        .inner-col-1,
        .inner-col-2 {
          width: 50%;

          .box-dropdown-title {
            position: relative;
          }
        }
      }
    }
  }
}
@media (max-width: 1120px) {
  .col-gr-input {
    min-width: 0;
    width: 100%;
  }

  .inner-col-1,
  .inner-col-2 {
    float: none;
  }

  .table-view-list-gr {
    td:nth-child(2),
    th:nth-child(2) {
      width: 20%;
    }

    thead {
      th.col-gr-input {
        width: 160px;

        .inner-col-1 {
          width: 100%;
        }

        .inner-col-2 {
          display: none;
        }
      }
    }

    tbody {
      td.col-gr-input {
        padding: 0;
        width: 160px;

        .inner-col-1,
        .inner-col-2 {
          width: 100%;
          padding: 6px 10px;
        }
      }
    }
  }
}
@media (max-width: 980px) {
  .table-gr-list {
    > thead tr th {
      &.col-gr-supplier {
        border-right: 1px solid $color-border;
      }
    }

    > tbody tr {
      td {
        &.col-gr-supplier {
          border-right: 1px solid $color-border;
        }
      }
    }
  }

  .table-view-list-gr {
    td:nth-child(2),
    th:nth-child(2) {
      width: 40%;
    }

    thead {
      th.col-gr-input {
        .inner-col-1 {
          padding: 10px 5px;
        }
      }
    }

    tbody {
      td.col-gr-input {
        .inner-col-1,
        .inner-col-2 {
          padding: 6px 5px;
        }
      }
    }
  }

  .view-gr {
    .row-gr-note {
      margin-top: 0;
    }

    .ellipsis {
      position: relative;

      span {
        position: absolute;
        top: 0;
        right: 22px;
      }
    }
  }
}
@media (max-width: 850px) {
  .row-optional-detail {
    .pull-left {
      margin-right: 0;
      float: none !important;
    }

    .form-control.form-inline,
    .label-control.form-inline {
      display: block;
      width: 100%;
    }
  }
}
@media (max-width: 736px) {
  .view-gr .table-view-list-item {
    .col-item-name {
      max-width: 210px;
      .word-wrap {
        // min-width: 115px !important;

        .ellipsis {
          width: auto;
          max-width: calc(100% - 20px);
        }

        .icon-special {
          margin: -2px 0 0 3px;
        }
      }
    }
  }

  .table-view-list-gr {
    .col-item-name {
      .word-wrap {
        width: 100%;

        .ellipsis {
          width: auto;
          max-width: calc(100% - 20px);
        }

        .icon-special {
          margin-left: 5px;
        }
      }
    }
  }
}
@media (max-width: 414px) {
  .table-view-list-gr {
    .form-control {
      padding: 6px 5px;
    }

    td:nth-child(2),
    th:nth-child(2) {
      width: 15%;

      .word-wrap {
        width: 100%;
        min-width: 110px;
      }
    }
  }
}
@media (max-width: 360px) {
  .table-view-list-gr .col-item-name,
  .table-view-list-gr .col-item-name .word-wrap {
    width: 88px;
  }
}
