.table-po-list {
  thead {
    .col-po-status {
      width: 235px;
      min-width: 235px;
    }
  }

  tbody > tr {
    cursor: pointer;

    &:hover {
      td {
        &.col-action-dot {
          .pr-action {
            .box-dropdown-title {
              border-color: $color-border;
              background-color: $color-white;
            }
          }
        }
      }
    }
  }

  .box-org-name {
    max-width: 120px;
  }

  .box-supplier-name {
    max-width: 100px;
  }

  .box-req-name {
    max-width: 80px;
  }

  .col-detail {
    td {
      padding: 0;
      margin: 0;
    }
    background: #E8ECF1 !important;

    .in-col-detail {
      width: calc(100% - 80px);
      border-collapse: collapse;
      margin: 25px 20px 30px 61px;

      tr {
        background: transparent;
        border-top: 1px solid #DCDEE1;

        th {
          padding: 6px 10px;
          line-height: 2.5em;
          color: $color-normal;
          border-bottom: 1px solid #DCDEE1;

          .noti-green {
            top: -2px;
            right: -2px;
          }
        }

        td {
          padding: 6px 10px;
          line-height: 2.5em;
          color: $color-normal;
          border-bottom: none !important;

          &.col-action {
            width: 4%;
            max-width: 132px;
            padding: 2px 10px;
            white-space: nowrap;

            a {
              margin: 0 5px;
              color: $color-normal;

              i.noti-green {
                top: -3px;
                right: -5px;
              }
            }
          }

          &.col-item-name {
            padding: 0 10px !important;
          }

          &.col-border-bottom {
            border-bottom: 1px solid #DCDEE1 !important;
          }
        }

        &.no-top-line {
          border-top: none;
        }
      }
    }
  }
}

.po-text-status {
  float: left;
  width: 179px;
  padding: 15px 10px;

  &.awaiting {
    color: #FFC247;
  }

  &.accepted {
    color: $color-border-focus;
  }

  &.rejected {
    color: $color-red;
  }

  &.failed {
    color: $color-disable;
  }

  &.cancelled {
    color: $color-title;
  }

  &.completed {
    color: #77D042;
  }

  &.color-normal {
    color: $color-normal;
  }

  i {
    float: left;
    margin-top: 4px;
  }

  span {
    float: left;
    width: 130px;
    max-height: 150px;
  }
}

.row-optional-detail {
  margin-top: -30px;
  padding-bottom: 30px;

  .form-control {
    width: 220px;
  }
}

.row-gr-note {
  margin-top: -20px;
}

.space-bottom-clear {
  height: 75px;
  clear: both;
}
@media (max-width: 767px) {
  .table-po-list {
    thead {
      .col-po-status {
        width: 180px;
        min-width: 180px;
      }
    }
  }
}
@media (max-width: 736px) {
  .row-optional-detail {
    margin: 20px 0;
  }

  .table-default-nocolor td.col-input.col-gr-input {
    padding: 6px 5px;

    .form-control.text-right {
      min-width: 70px;
      padding: 6px 10px 6px 5px;
    }
  }

  .row-optional-detail {
    margin: 20px 0;

    .column-5 {
      width: 98.002%;
      float: none;
      margin: 0;

      .form-control.form-inline {
        width: 100%;
      }
    }
  }
}
@media (max-width: 639px) {
  .table-po-list {
    > thead {
      tr th {
        padding: 10px 5px;
        font-size: 12px;
        border-left: none;
        border-right: none;
      }

      .col-po-status {
        width: 120px;
        min-width: 0;
      }
    }

    tbody {
      tr {
        td {
          padding: 10px 5px;
          font-size: 12px;
          border-left: none;
          border-right: none;
        }
      }
    }
  }

  .pull-right.box-top-dropdown.pr-top-status {
    float: none !important;
    margin: 0 10px;

    .box-dropdown-list,
    .box-dropdown-title {
      width: 100%;
    }

    .box-dropdown-list {
      position: absolute;
    }
  }

  .col-po-status,
  .po-text-status {
    min-width: 0;
    width: 100%;
  }

  .po-text-status {
    padding: 10px 5px;

    span {
      width: 100%;
    }

    .icon-dot {
      display: none;
    }
  }

  .row-gr-note {
    .column-70-per {
      width: 98.002%;
      float: none !important;
    }
  }
}

.po-dropdown {
  .box-dropdown-title {
    width: 215px;
    padding: 0 30px 0 15px;
  }

  .box-dropdown-list {
    width: 215px;
  }
}
