/* hack calendar */
.rc-calendar-next-year-btn,
.rc-calendar-prev-year-btn {
  display: none;
}
/* end */
.box-pr-org {
  padding: 10px 0 0;

  .icon-org {
    margin: 5px 5px 0 0;
  }
}

.pr-org-dropdown {
  font-size: 18px;
  line-height: 32px;
  padding: 0 10px;
  cursor: pointer;

  .icon-arrow-down-page {
    font-size: 20px;
    margin-left: 12px;
    margin-top: -3px;
  }
}

.box-dropdown.open .pr-org-dropdown,
.pr-org-dropdown:active,
.pr-org-dropdown:hover {
  background-color: $color-background;
}

.pr-dropdown-list {
  width: 375px;
  height: 360px;
  overflow: hidden;
  left: 0;
  right: auto;
  top: 37px;
  padding: 0;
  border: 1px solid $color-border;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.04) !important;
  -moz-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.04) !important;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.04) !important;
  @include border-radius(2px);

  ul {
    margin: 10px 0;
    height: 340px;
    overflow-y: auto;
  }

  li {
    position: relative;

    a {
      font-size: 13px;
      padding: 10px 15px;
    }
  }

  .active {
    background-color: $color-background;
    color: $color-info;
  }

  .dd-noti {
    font-size: 11px;
    font-weight: bold;
    color: $color-white;
    background-color: $color-red;
    border-radius: 8px;
    min-width: 20px;
    padding: 0 7px;
    height: 16px;
    line-height: 16px;
    display: inline-block;
    margin: 2px 0 0 10px;
    vertical-align: top;
    overflow: hidden;
    position: absolute;
    right: 15px;
    top: 9px;
  }
}
@media (max-width: 639px) {
  .table-pr-list {
    > thead {
      tr th {
        padding: 10px 5px;
        font-size: 12px;
        border-left: none;
        border-right: none;
      }

      .col-po-status {
        width: 120px;
        min-width: 0;
      }
    }

    tbody {
      tr {
        td {
          padding: 10px 5px;
          font-size: 12px;
          border-left: none;
          border-right: none;
        }
      }
    }
  }

  .box-pr-org {
    margin: 0 10px;

    .box-dropdown {
      width: calc(100% - 25px);

      .box-dropdown-title.pr-org-dropdown {
        overflow: hidden;
        float: left;

        span {
          float: left;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          float: left;
          max-width: calc(100% - 30px);
        }
      }

      .icon-arrow-down-page {
        float: left;
        margin: 6px 0 0 10px;
      }
    }
  }
}

.pr-top-search {
  position: relative;
}

.btn-calendar {
  cursor: pointer;
  position: absolute;
  padding: 6px 7px;
  height: 32px;
  width: 46px;
  right: 36px;
  right: 38px \9;
  top: 1px;
  border: none;
  background-color: $color-white;
  outline: none;
  text-align: left;
  color: $color-info-light;

  .icon-arrow-down-page {
    top: 5px;
    right: 0;
    font-size: 22px;
    position: absolute;
  }

  &:active,
  &:focus,
  &:hover {
    color: $color-info;
  }
}

.pr-top-status {
  margin-left: 10px;

  .box-dropdown-title {
    width: 170px;
    min-width: 0 \9;
  }

  .box-dropdown-list {
    right: 0;
    width: 170px;
    left: auto;

    li {
      min-width: 0;
    }

    a {
      width: 100%;
    }
  }
}

.table-pr-list {
  tbody > tr {
    cursor: pointer;

    &:hover {
      .show-detail {
        color: $color-info;
      }
    }

    &.rowbg {
      background: $color-background;
    }

    &:hover {
      td {
        &.col-action-dot {
          .pr-action {
            .box-dropdown-title {
              border-color: $color-border;
              background-color: $color-white;
            }
          }
        }
      }
    }
  }

  .col-side-10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .box-pr-detail {
    background-color: #E8ECF1;
    padding: 15px 0 5px 60px;
  }

  .show-detail {
    color: $color-normal;

    &:hover {
      color: $color-info;
    }
  }
}

.col-pr-status {
  min-width: 220px;
  width: 220px;
}

.col-action-dot {
  padding: 0 !important;
  position: relative;
}

.pr-text-status {
  float: left;
  width: 160px;
  padding: 15px 10px 15px 15px;

  &.awaiting {
    color: #FFC247;
  }

  &.accepted,
  &.draft {
    color: $color-border-focus;
  }

  &.rejected {
    color: $color-red;
  }

  &.cancelled {
    color: $color-title;
  }

  &.resubmitted {
    color: $color-sub;
  }

  &.ordercreated {
    color: #77D042;
  }

  &.process-failed {
    color: $color-disable;
  }
}

.pr-action {
  float: right;
  margin-right: 10px;

  .box-dropdown-title {
    position: relative;
    text-align: center;
    padding: 0;
    margin: 6px 0 0;
    line-height: 35px;
    width: 45px;
    height: 35px;
    overflow: hidden;
    color: $color-normal !important;
    border-radius: 3px;
    border: 1px solid transparent;
  }

  &.open,
  &:hover {
    .box-dropdown-title {
      background-color: $color-white;
      border-color: #237BBD !important;
      color: #237BBD !important;
    }
  }

  .box-dropdown-list {
    top: 46px;
    overflow: hidden;

    &.dropdown-top {
      top: inherit;
      bottom: 51px;
    }
  }

  .tooltip-top {
    width: 66px;
    margin-left: -33px;
    bottom: auto;
    top: -32px;
  }
}

.pr-icon-action {
  margin: -2px 10px 0 0;
}

.table-pr-detail {
  width: 100%;
  border-collapse: collapse;

  tbody {
    border-bottom: 1px solid $color-border;
  }

  tbody > tr {
    &:hover {
      * {
        color: $color-normal;
      }
    }
  }

  th {
    text-align: left;
    border-bottom: 1px solid $color-border;
    vertical-align: top;
    white-space: nowrap;
    color: $color-normal;
    padding: 10px;
  }

  td {
    vertical-align: top;
    border-bottom: none;
    color: $color-normal;
    padding: 15px 10px 0;
    height: 43px;
    position: relative;
  }

  .pr-item-name {
    width: 100px;
  }

  .ellipsis {
    display: inline-block;
  }

  .rate {
    color: $color-info !important;
    font-size: 10px;
    line-height: 1em;
    position: absolute;
    right: 10px;
    bottom: 2px;
  }

  .col-icon-status {
    width: 100px;
    min-width: 100px;
    text-align: center;
    font-size: 20px;
    padding: 12px 5px 0;

    .box-attachment,
    .box-condition,
    .box-delivery,
    .box-location {
      margin: 0 5px;
      position: relative;
    }

    .box-attachment > .hasfile {
      right: 3px;
      top: 0;
    }

    .box-condition > .hasfile {
      right: 0;
      top: 0;
    }
  }

  .pr-summary {
    border-bottom: none;
  }
}

.pr-summary-wrap {
  padding: 20px 10px;
  overflow: hidden;
}
/* ------ create pr ------*/
.create-pr-open {
  display: block;
  overflow: hidden;

  .op-content-wrap {
    position: relative;
  }
}

.form-pr-name {
  margin: 20px 0;
  overflow: hidden;
}

.box-text-prname {
  width: 75px;
  float: left;
}

.box-input-prname {
  width: 330px;
  float: left;
}

.information-bar {
  background: $color-background;
  border-top: 1px solid $color-border;
  padding: 10px 15px;
  line-height: 2em;
}
/* set column */
.col-item-name {
  padding: 0 30px 0 15px !important;
  max-width: 210px;
  .word-wrap {
    padding: 13px 0;
    white-space: nowrap;
    width: 260px \9;
    overflow: hidden;
    line-height: 20px;
  }

  .text-block {
    // max-width: 210px;
    max-width: calc(100% - 10px);
  }
}

.col-item-id .text-block {
  max-width: 90px;
  width: 90px \9;
}

// .col-supplier .text-block {
//   max-width: 185px;
//   width: 185px \9;
// }

.col-supplier {
  max-width: 185px;
  width: 185px \9;
  .text-block {
    max-width: calc(100% - 10px);
  }
}

.pr-amount {
  font-size: 30px;
  color: $theme-hover;
  line-height: 1.7em;
}

.icon-special {
  color: $color-success !important;
  font-size: 20px;
  margin-top: 0;
  margin-left: 5px;
  vertical-align: top;
  position: absolute;
}

.price-rate {
  color: $theme-hover !important;
  font-size: 10px;
  line-height: 1em;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: 9px;
  white-space: nowrap;
  font-style: normal;
}

.msg-form-error {
  color: $color-fail !important;
  font-size: 11px;
  line-height: 1em;
}

.col-error {
  position: relative;
}

.msg-text-error {
  color: $color-fail !important;
  font-size: 10px;
  line-height: 1em;
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: 7px;

  &.fail {
    left: 0 !important;
    top: 10px;
  }
}

.msg-text-warning {
  color: #D99F29 !important;
  font-size: 10px;
  line-height: 1em;
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: 7px;
}

.col-nowrap {
  white-space: nowrap;
}

.col-total {
  border-bottom: 2px solid $theme-hover !important;
}

.col-bg {
  background-color: #F2F6FA;
  text-align: right;
}

tbody > tr {
  .col-bg {
    background-color: #F2F6FA;
  }

  &.rowbg {
    .col-bg {
      background: #e9eef4;
    }
  }
}

tbody > tr {
  &.last-item-row {
    td {
      border-bottom: 1px solid $color-border;
    }
  }

  &.row-summary {
    background: none!important;

    td {
      border: none;

      &.col-bg {
        background-color: #F2F6FA;
        text-align: right;
      }
    }

    a.color-info,
    a.color-link {
      &:hover {
        color: $color-info;
        text-decoration: underline;
      }
    }
  }
}

a.box-attachment,
a.box-condition,
a.box-delivery,
a.box-location {
  color: $color-normal;
  font-size: 20px;
  margin: 0 3px;
  display: inline-block;

  .noti-green,
  .noti-red {}

  .noti-green {
    color: $color-success;
  }

  .noti-red {
    color: #D72C22;
  }
}

a.box-attachment {
  .noti-green {
    right: -2px;
    top: -2px;
  }
}

a.box-condition {
  .noti-green {
    right: -4px;
    top: -2px;
  }
}

a.box-location {
  .noti-green {
    right: -2px;
    top: -1px;
  }
}

a.box-delivery {
  .noti-red {
    right: -2px;
    top: -1px;
    position: absolute;
    width: 10px;
    height: 10px;
    background-size: 10px 10px;
    background-image: url('/images/frontend/i.png');
    background-image: url('/images/frontend/i1x.png') \9;
    background-repeat: no-repeat;
  }
}

.box-option {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
  margin: 0 3px 0 2px;

  .icon-plus {
    vertical-align: middle;
    margin: 0 2px;
    color: $color-normal;
  }
}

.remove-row-input {
  color: $color-sub;

  .icon-fail {
    margin-top: -4px;
  }
}

.row-input .remove-row-input {
  .icon-fail {
    //margin-top: 3px;
  }
}

.pr-delivery-wrap {
  border: 1px solid $color-border;
  padding: 15px;
  border-radius: 2px 2px 0 0;
  overflow: hidden;
}

.box-ship-bill {
  padding-top: 30px;
}

.radio.ellipsis {
  padding: 0 0 0 21px;

  input[type=radio] {
    margin: -1px 0 0 -20px \9;
  }
}

.input-find {
  width: 316px;
  width: 290px \9;
  width: calc(100% - 80px);
  float: left;
}

.btn-find {
  margin-left: 15px;
  width: 65px;
  min-width: 65px;
  float: left;
}

.box-org-address {
  margin: 20px 0;
  padding: 0 10px;
  overflow: hidden;
  color: $color-normal;
}

.column-45-per {
  width: 45%;
}

.column-70-per {
  width: 70%;
}

.box-apply-all {
  background-color: #E5E7ED;
  padding: 5px 15px;
  border-radius: 0 0 2px 2px;
  overflow: hidden;
  margin-bottom: 10px;
}

.box-table {
  width: 100%;
  overflow-x: auto;

  .table-body,
  .table-row,
  .table-thead {
    width: 100%;
  }

  .table-thead {
    min-width: 0;
    font-weight: bold;
    color: $color-title;

    .table-row {
      overflow: hidden;
      border-bottom: 1px solid $color-border;
    }

    .table-column {
      padding: 10px 15px;
    }
  }

  .table-body {
    min-width: 0;
    border-bottom: 1px solid $color-border;

    .table-row {
      overflow: hidden;
      border-bottom: 1px solid $color-border-more-light;

      &:last-child {
        border-bottom: none;
      }

      .row-reject * {
        text-decoration: line-through;
      }

      .row-disabled * {
        color: $color-medium-grey;
      }
    }

    .table-column {
      padding: 15px;
    }

    &.max-height-235 {
      height: 235px;
      overflow-y: auto;
    }

    .table-row:hover {
      .table-column {
        color: $theme-hover;
      }

      .row-reject * {
        text-decoration: line-through;
        color: $color-normal;
      }

      .row-disabled * {
        color: $color-medium-grey;
      }
    }
  }

  .table-column {
    float: left;
    white-space: nowrap;
  }

  .w-10 {
    width: 95px;
  }

  .w-15 {
    width: 125px;
  }

  .w-20 {
    width: 150px;
  }

  .w-25 {
    width: 250px;
  }

  .w-35 {
    width: 300px;
  }

  .w-5per {
    width: 5%;
  }

  .w-10per {
    width: 10%;
  }

  .w-15per {
    width: 15%;
  }

  .w-20per {
    width: 20%;
  }

  .w-25per {
    width: 25%;
  }

  .w-30per {
    width: 30%;
  }

  .w-35per {
    width: 35%;
  }

  .w-40per {
    width: 40%;
  }

  .w-45per {
    width: 45%;
  }

  .w-50per {
    width: 50%;
  }

  .w-55per {
    width: 55%;
  }

  .w-60per {
    width: 60%;
  }
}

.modal-pr-delivery {
  width: 950px;

  .row-inner {
    width: 880px;
  }
}

.box-overflow-x {
  overflow-x: auto;
  width: 100%;

  .col-input {
    .form-control {
      width: 154px;
    }
  }
}

.ch-line2 {
  margin: 5px 0 0;
}

.col-pr-action {
  width: 4%;
  max-width: 132px;
  padding: 13px 10px !important;
  text-align: center;
  white-space: nowrap;

  .col-checkbox,
  .icon-attachment,
  .icon-condition,
  .icon-plus {
    //margin-top: -1px;
  }
}
/* step 3 */
.approval-title {
  padding: 0 0 10px;
  color: $color-title;

  p {
    padding: 13px 0;
    margin: 0 0 10px;
  }
}

.box-reviewer {
  overflow: hidden;
  padding: 0 0 20px;

  &.view {
    .user-reviewer {
      cursor: default;

      > span {
        padding: 2px 15px 0;
      }
    }

    .cross-remove {
      span {
        padding: 2px 2px 0 15px !important;

        i {
          font-size: 14px;
        }
      }
    }

    .add-user-reviewer {
      i {
        margin-left: 10px;
        margin-top: 3px;
      }
    }
  }
}

.add-reviewer {
  float: left;
  height: 26px;
  line-height: 27px;
  padding: 0 0 0 30px;
  background-image: url('/images/frontend/icon_plus2x.png');
  background-image: url('/images/frontend/icon_plus1x.png') \9;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 0 center;
  color: $color-link;
  margin-bottom: 10px;

  &:active,
  &:focus,
  &:hover {
    color: $color-link;
  }
}

.user-reviewer {
  @include border-radius(30px);
  float: left;
  background-color: $color-sub;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 26px;
  vertical-align: middle;
  overflow: hidden;

  * {
    color: $color-white;
    display: inline-block;
  }

  > span {
    @include border-left-radius(30px);
    white-space: nowrap;
    padding: 2px 10px 0 15px;
    line-height: 24px;
    line-height: 20px\9;
  }

  .remove-result {
    @include border-right-radius(30px);
    border-left: 1px solid #97A4B6;
    cursor: pointer;
    padding: 0 10px;
    font-size: 10px;
    line-height: 24px;
    vertical-align: top;

    &:hover {
      background-color: #717F93;
    }
  }
}

.approver-wrap {
  width: 100%;
  position: relative;

  &.view {
    margin-bottom: 50px;
  }

  .approver-table {
    border: 0;
    padding: 0;

    td {
      padding-left: 20px;
      vertical-align: top;

      &:first-child {
        padding-left: 0;
      }
    }
  }

  .approver-column {
    width: 315px;
    min-width: 315px;

    &.view {
      float: left;
      margin-right: 20px;
    }
  }
}
@media (max-width: 736px) {
  .approver-wrap.view {
    .approver-column.view {
      width: 100%;
      min-width: 0;
      float: none;
      margin-right: 0;
    }
  }

  .box-table {
    .table-body,
    .table-thead {
      .table-column {
        padding: 10px 5px !important;

        &.w-20per {
          width: 50%;
        }

        &.w-55per {
          width: 25%;
        }
      }
    }
  }
}

.box-approver {
  background-color: $color-background;
  border-top: 2px solid $color-border;
  padding: 0;
  margin: 5px 0 20px;

  .box-approver-title {
    color: $color-title;
    height: 38px;
    line-height: 38px;
    padding: 0 20px;
  }

  .approver-list {
    padding: 0;
    margin: 0;

    > li {
      padding: 0 20px;
      position: relative;
      cursor: pointer;

      &.open {
        background-color: $color-border;

        .user-detail {
          display: block;

          .hide-user-detail {
            display: none;
          }
        }
      }

      &:before {
        content: "";
        border-left: 1px solid #C4CCD6;
        width: 1px;
        height: 100%;
        font-size: 0;
        overflow: hidden;
        top: 0;
        left: 30px;
        z-index: 0;
        position: absolute;
        display: block;
      }

      &:first-child {
        &:before {
          height: 50%;
          top: 50%;
        }

        &.last-child:before {
          border-left-color: transparent;
        }
      }

      &.last-child {
        &:before {
          height: 25px;
        }
      }

      .detail {
        position: relative;
        z-index: 2;
        color: $color-title;
        padding: 15px 0 15px 30px;
        display: block;

        i {
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -10px;
        }
      }

      a.detail {
        color: $color-link;
      }

      span.font-xs {
        overflow: auto;
        white-space: nowrap;
        max-width: 200px;
        //position: absolute;
        text-overflow: ellipsis;
      }

      .remove-approver {
        color: #C4CCD6;
        font-size: 12px;
        position: absolute;
        top: 50%;
        right: 20px;
        margin-top: -8px;
        z-index: 3;
      }

      .hasnote {
        color: $color-sub;
        font-size: 20px;
        position: absolute;
        top: 50%;
        right: 20px;
        margin-top: -10px;
        z-index: 3;

        &.xs {
          font-size: 12px;
          right: 14px;
          top: 24px;
        }
      }

      .user-detail {
        display: none;
        border: 1px solid #DFE3EF;
        background: $color-white;
        box-shadow: 4px 4px 3px 0 rgba(0,0,0,0.04);
        position: absolute;
        top: 0;
        left: 100%;
        margin-left: -10px;
        z-index: 4;
        width: 270px;
        max-height: 401px;
        overflow-y: auto;

        li {
          padding: 15px 20px;
          line-height: 1.8em;
          border-top: 1px solid #DFE3EF;

          &:first-child {
            border-top: none;
          }

          i {
            margin-right: 10px;
            margin-top: -4px;
            color: $color-sub;
          }

          p {
            margin: 10px 0 0;
            line-height: 1.35em;

            > strong {
              display: inline-block;
              margin-bottom: 3px;
            }
          }
        }
      }
    }
  }
}

.approval-note {
  margin: 5px 0 20px;

  .edit-note {
    font-size: 20px;
    color: $color-info-light;

    i {
      margin-top: 2px;
    }

    &:hover {
      color: $color-link;
    }
  }
}

.filter-calendar {
  width: 636px;
  padding: 20px 0 0 20px;
  position: absolute;
  background: $color-white;
  border-radius: 2px;
  border: 1px solid $color-border;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.04);
  -moz-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.04);
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.04);
  z-index: 9;
  top: 0;

  .calendar-popup-title {
    font-size: 14px;
    color: $color-normal;
  }

  label {
    color: $color-normal;
    margin: 15px 0 0;

    &.radio {
      margin-left: 1px;
    }
  }

  .col-calendar-from,
  .col-calendar-to {
    label {
      line-height: 18px;
      margin-bottom: 5px;
    }
  }

  .col-calendar-from {
    width: 302px;
    float: left;

    .box-input-calendar {
      padding-left: 19px;
    }

    .select-date {
      margin-left: 20px;
    }
  }

  .col-calendar-to {
    width: 272px;
    float: left;
    margin: 0 0 0 20px;
  }

  .select-date {
    width: 272px;
    padding: 0 0 10px;

    .form-control,
    .rc-calendar-input {
      background-image: none;

      &::placeholder {
        color: #999;
      }
    }

    .rc-calendar {
      margin-top: -37px;
    }

    .rc-calendar-date-input-wrap {
      width: 268px;
    }
  }
}

.payment-terms-detail {
  line-height: 2em;

  p {
    margin: 0 0 15px;
  }
}
/*responsive*/
.box-org-name,
.box-pr-name,
.box-req-name,
.box-supplier-name {
  width: auto;
  // white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  // max-width: 150px;
  max-height: 30px;
}
@media (max-width: 1320px) {
  .box-org-name,
  .box-pr-name,
  .box-req-name,
  .box-supplier-name {
    width: 120px;
  }
}
@media (max-width: 1260px) {
  .table-pr-list {
    .box-pr-detail {
      padding: 15px 0 5px;
    }
  }

  .pr-item-name {
    display: none;
  }

  .box-org-name,
  .box-req-name,
  .box-supplier-name {
    width: 100px;
  }

  .box-pr-name {
    width: 70px;
  }
}
@media (max-width: 1160px) {
  .table-pr-list {
    thead {
      th {
        padding: 10px;
      }
    }

    tbody {
      tr {
        td {
          padding: 15px 10px;
        }
      }
    }
  }

  .box-org-name,
  .box-req-name,
  .box-supplier-name {
    width: 120px;
  }

  .col-pr-status {
    min-width: 210px;
    width: 210px;
  }

  .pr-text-status {
    padding: 15px 10px;
    width: 150px;
  }
}
@media (max-width: 1024px) {
  .col-pr-toggle,
  .pr-detail-wrap {
    display: none;
  }
}
@media (max-width: 980px) {
  .table-pr-list {
    .hide-col {
      display: table-cell;
    }
  }

  .box-supplier-name {
    width: 200px;
  }
}
@media (max-width: 890px) {
  .box-org-name,
  .box-req-name,
  .box-supplier-name {
    width: 100px;
  }
}
@media (max-width: 890px) {
  .col-pr-name {
    display: none;
  }
}
@media (max-width: 767px) {
  .table-pr-list {
    .hide-col {
      display: none;
    }
  }

  .pr-action {
    display: none;
  }

  .col-pr-status {
    width: 150px;
    min-width: 150px;
  }

  .box-req-name,
  .box-supplier-name {
    width: auto;
    max-width: 200px;
  }
}
@media (max-width: 600px) {
  .box-req-name,
  .box-supplier-name {
    max-width: 130px;
  }
}
@media (max-width: 450px) {
  .box-req-name,
  .box-supplier-name {
    max-width: 70px;
    white-space: normal;
  }
}
@media (max-width: 441px) {
  .table-pr-list {
    thead {
      th {
        padding: 10px 5px;
        font-size: 12px;
      }
    }

    tbody {
      tr {
        td {
          padding: 10px 5px;
          font-size: 12px;
        }
      }
    }
  }

  .col-pr-status,
  .pr-text-status {
    min-width: 0;
    width: 85px;
  }

  .pr-text-status {
    padding: 10px 5px;

    .icon-dot {
      display: none;
    }
  }
}
@media (max-width: 414px) {
  .pr-dropdown-list {
    position: absolute;
    width: 315px;

    .box-dropdown-list a {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .modal-pr-delivery {
    width: 100%;
    margin: 0;
    border-radius: 0;

    .modal-inner {
      padding: 0;
    }

    .pr-delivery-wrap {
      border: none;
    }

    .column-5 {
      float: none;
      width: 100%;
      margin: 0;

      .form-group {
        margin-left: 5px;
      }
    }

    .box-ship-bill,
    .column-sm-full {
      width: 100%;
      margin: 0 !important;
      float: none !important;
    }
  }

  .box-approver {
    margin: 0;

    &:first-child {
      margin: 5px 0 0;
    }

    &:last-child {
      margin: 0 0 20px;
    }

    .approver-list > li.open {
      .user-detail {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        box-shadow: none;
        margin: 0;
        max-height: 100%;
        border: none;

        .hide-user-detail {
          display: block;
          height: 50px;
          overflow: hidden;
          padding: 15px;
          border-bottom: 1px solid $color-border;
          margin: -20px -20px 30px;

          i {
            font-size: 13px;
            margin: 0;
            color: $color-normal;
          }
        }
      }
    }
  }
}
