/* Tablet */
@media (max-width: 1441px) {
	.mq-row{
		.col-details{
			.box-detail-col{
				.col-inner{
					width:100%;
					&:last-child{
						padding:5px 0 0 0;
					}
	                &.ci-buyer{
	                    .col1{
	                        width: 101px;
	                    }
	                }
				}
				.w-req, .w-buy, .w-dr, .w-dc{
					width:101px;
				}
			}
			
		}
	}
}

@media (max-width: 1280px) {
	.fullpop-table {
		.fullpop-rfq-sup-r {
			.setbottom{
				position:relative;
				.column-4{
					.texD{
						position:absolute;
						bottom:0;
						width: 31.368%;
					}
				}
			}
		}
	}
}

@media (max-width: 1180px) {
	.fullpop-table {
		.fullpop-rfq-sup-r {
			.box-res{
				margin-bottom: 0px;
				.column-4{
					width: 48%;
					margin-bottom: 15px;
					&:nth-child(3){
						margin-top: 5px;
						margin-bottom: 20px;
						.texV{
							padding:5px 0 0 0;
							height:22px;
						}
					}
				}
			}
			.req-response{
				.rr-header{
					font-size: 22px;
				}
			}
			.setbottom{
				.column-4{
					.texD{
						bottom:15px;
						width: 48%;
					}
				}
			}
		}
	}
	.sme-popup-footer {
		.spf-control{
			.spf-data-title{
				font-size: 15px;
			}
			.spf-data-sub-title label{
				margin-right: 20px;
			}
		}
	}
	.mq-row{
		.col-details{
			.box-detail-col{
	            &.box-3-col{
	                .col-inner{
	                    .col1{
	                    	width:85px;
	                    }
	                }
	            }
			}
		}
	}
}
@media (max-width: 1150px) {
	.mq-row{
		.col-details{
			.box-detail-col{
	            &.box-3-col{
	            	float:none;
	            	width:100%;
	                .col-inner{
	                	width:50%;
	                }
	            }
			}
		}
	}
}
@media (max-width: 1024px) {
	.mq-row{
		&.locked{
			.box-locked{
				margin: 16px -7px 0 0;
			}
		}
		.col-details{
			width:100%;
			float:none;
			border-right:none;
		}
		.box-action{
			padding:4px 0 0 0;
		}
		.col-actions{
			width:calc(100% - 50px);
			float:none;
			padding:15px 0 15px 0;
			margin:0 20px 0 30px;
			border-top: 1px solid $color-border;
		}
		.btn-mq-action{
			display: inline-block;
			margin-bottom:0;
		}
		.action-by{
			display: inline-block;
			margin-left: 10px;
			line-height: 27px;
		}
	}
	.list-action{
		margin:0;
		.box-dropdown-title{
			margin:0;
		}
	}
}
@media (max-width: 1023px) {
	.fpw-view-req{
		padding: 60px 0 153px;
	}
	.sme-popup-footer {
		.spf-control {
			width: calc(100% - 120px);
			padding-bottom: 20px;
			.spf-data-title{
				margin-bottom:6px;
				line-height:19px;
			}
			.spf-data-sub-title{
				li{
					display:block;
				}
			}
		}
	}

}
@media (max-width: 930px) {
	.eq-sp-top-search{
		width:410px;
		.search-input-bar{
			width:250px;
		}
		.eq-sp-top-dropdown{
			width:150px;
		}
	}
}
@media (max-width: 768px) {
	.sme-popup-footer {
		.spf-control {
			width: 68%;
			.spf-data-title{
				font-size: 15px;
			}
	        .spf-data-sub-title{
	            label{
	                margin-right: 15px;
	            }
	            input{
	            	top: 2px;
	            	position: relative;
	            }
	            li{
	            	display: list-item;
	            	label{
	            		margin-bottom: 5px;
	            	}
	            }
	        }
		}
		button{
			float: right;
		}
	}
	.sup-mh{
		margin-bottom: 10px;
		.pull-left{
			float: none;
			width: 100%;
			margin: 0 0 20px;
		}

	}
	.filter-calendar {
    	width: 100%;
    }
}
@media (max-width: 736px) {
	.eq-sp-wrap{
		padding:0;
	}
	.eq-sp-topbar {
	    padding: 20px;
	}
	.eq-sp-topbar-title,.eq-sp-top-search{
		float:none;
	}
	.eq-sp-top-search{
		width:100%;
		margin-top: 20px;
		.search-input-bar{
			width:100%;
			float:none;
			margin-right:0;
		}
		.eq-sp-top-dropdown{
			width:100%;
			float:none;
			margin-top: 10px;
		}
	}
	.eq-space-top-search{
	    padding: 0 20px;
	}
	.mq-row{
		.col-details{
			.top-row{
				margin: 0 0 10px 30px;
			}
			.box-detail-col{
				width: 100%;
				float: none;
				padding: 5px 0 0 30px !important;
				&.box-3-col{
	                .col-inner{
	                	width:100%;
	                }
	            }
			}
		}
		.box-dropdown-list{
			width: auto;
		}
	}
	.fullpop-table {
		.fullpop-rfq-sup-r {
			.box-res {
				.column-4{
					width: calc(100% - 1.95%);
				}
			}
			.setbottom{
	            .column-4{
	                .texD{
	                    position:relative;
	                    bottom:auto;
	                    width: 100%;
	                }
	                &:last-child{
	                	margin-bottom:5px;
	                }
	            }
	        }
		}
	}
	.fullpop-rfq {
		.fullpop-table{
			.fullpop-rfq-sup-l, .fullpop-rfq-sup-r{
				width: 100%;
				display: block;
			}
			.fullpop-rfq-sup-r{
				padding: 30px 20px;
				.req-response{
					margin: 0;
					width: 100%;
					
					&.req-empty{
						margin:50px 0;
					}

				}
			}
		}
	}
	.fpw-view-req{
		padding: 60px 0 0;
	}
	.sme-popup-footer {
	    margin: 0;
	    padding: 20px;
	    border-top: 1px solid #E6E8EB;
	    overflow: hidden;
	    position: relative;
	    width: 100%;
	    bottom: 0;
	    background-color: #fff;
		.spf-left,.spf-right {
			width: 100%;
			float: none;
			padding: 0 0 20px 0;
		}
		.spf-right{
			padding:20px 0;
			border-top: 1px solid #D8D8D8;
			border-left: none;
		}
		.spf-control{
			width: 100%;
			margin:0;
			position: static;
			float:none !important;
		}
		button{
			float:none !important;
		}
	}
	/* css hack main template*/
	.full-popup-bottom, .full-popup-title{
		padding:20px;
		&.view{
			.pull-right.text-right{
				margin-left:0;
			}
		}
	}

	.compare-bottom{
		position: relative;
		.pull-left,.pull-right{
			float: none !important;
		}
		.qua-wrap{
			.qua-sub-title{
				margin-bottom: 20px;
			}
		}
	}
}