.eq-sp-wrap {
    padding: 0 20px;
}

.eq-sp-topbar {
    padding: 35px 0 0 0;
}

.eq-sp-topbar-title {
    float: left;
    .font-heading {
        display: inline-block;
        margin-bottom: 5px;
    }
}

.eq-sp-top-search{
	float:right;
	width:655px;
	margin-top:2px;
	position:relative;
	.search-input-bar{
		width:408px;
		float:left;
		margin-right:10px;
		position:relative;
		.input-top-search{
			width: calc(100% - 36px);
			float:left;
			border-radius: 2px 0 0 2px;
		}
		.btn-calendar {
			cursor: pointer;
			position: absolute;
			padding: 6px 7px;
			height: 32px;
			width: 46px;
			right: 36px;
			right: 38px \9;
			top: 1px;
			border: none;
			background-color: $color-white;
			outline: none;
			text-align: left;
			color: $color-info-light;

			.icon-arrow-down-page {
				top: 5px;
				right: 0;
				font-size: 22px;
				position: absolute;
			}

			&:active,
			&:focus,
			&:hover {
				color: $color-info;
			}
		}
		.btn-search{
			float:left;
		}
	}
	.eq-sp-top-dropdown{
		width: 237px;
		float:right;
		.box-dropdown-list.form-dropdown-list{
			width:100%;
		}
	}
}

.filter-calendar {
    top: 0;
    z-index: 9;
    width: 408px;
    position: absolute;
    border-radius: 2px;
    padding: 20px 0 0 20px;
    background: $color-white;
    border: 1px solid $color-border;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.04);

    .calendar-popup-title {
        font-size: 14px;
        color: $color-normal;
    }

    label {
        margin: 15px 0 10px;
        color: $color-normal;
        &.radio {
            margin-left: 1px;
            input {
                margin: 3px 0 0 -20px;
            }
        }
    }

    input:read-only {
        cursor: default;
        background: #fff !important;
    }
    input:-moz-read-only {
        cursor: default;
        background: #fff !important;
    }
    .col-calendar-from,
    .col-calendar-to {
        label {
            line-height: 18px;
            margin-bottom: 5px;
        }
    }

    .col-calendar-from {
        float: left;
        width: 302px;

        .box-input-calendar {
            padding-left: 19px;
        }

        .select-date {
            margin-left: 20px;
        }
    }

    .col-calendar-to {
        float: left;
        width: 272px;
        margin: 0 0 0 20px;
    }

    .select-date {
        width: 272px;
        padding: 0 0 10px;

        .form-control,
        .rc-calendar-input {
            background-image: none;

            &::placeholder {
                color: #999;
            }
        }

        .rc-calendar {
            margin-top: -37px;
        }

        .rc-calendar-date-input-wrap {
            width: 268px;
        }
    }
	.calendar-group {
	    width: 275px;
	    display: none;
	    margin-left: 22px;
	    margin-bottom: 20px;

	    label {
	        margin-bottom: 10px;
	    }

	    .box-calendar-from,
	    .box-calendar-to {
	        display: none;
	        position: absolute;
	        label {
	            margin-bottom: 10px !important;
	        }
	    }
	}
	.rc-calendar-next-year-btn, .rc-calendar-prev-year-btn {
	    display: inline-block;
	}
	.rc-calendar-header{
		.rc-calendar-prev-month-btn {
		    left: 25px;
		}
		.rc-calendar-next-month-btn {
		    right: 25px;
		}
	}
}

.eq-space-top-search{
    padding: 0;
    margin-bottom: 15px;
    .word-result{
        margin:0 10px 5px 0;
    }
}
.eq-mq-content{}
.eq-empty-stage {
    text-align: center;
    padding: 120px 0 20px;
    .eq-sub-title {
        color: #7E8EA4;
        display: block;
        margin-top: 10px;
    }
}
.box-mq-list{
	border-top: 1px solid $color-border;
	border-bottom: 1px solid $color-border;
}

/* --  icon dot dot dot action -- */

.list-action {
    float: right;
    margin-right: 10px;
    .tooltip-top {
	    top: -32px;
	    width: 66px;
	    bottom: auto;
	    margin-left: -33px;
	}
	.box-dropdown-title {
		padding: 0;
		width: 45px;
		height: 35px;
		margin: 10px 0 0;
		overflow: hidden;
		line-height: 35px;
		position: relative;
		text-align: center;
		border-radius: 3px;
		border: 1px solid transparent;
		color: #586575!important;
	}

	.box-dropdown-list {
	    top: 50px;
	    overflow: hidden;
	}
	&.open,&:hover {
		.box-dropdown-title {
		    color: #237BBD!important;
		    background-color: #fff;
		    border-color: #237BBD!important;
		}
	}
}
/* -- end action icon dot dot dot -- */
.mq-row{
	padding:0;
	cursor:pointer;
	&.rowbg{
		background-color: $color-background;
	}
	&.locked{
		cursor: default;
		&:hover{
			cursor: default;
			.col-details *{
				color:$color-normal;
			}
            .sub-req{
                color: #7E8EA4;
                span{
                    color: #7E8EA4;
                }
            }
		}
		.box-locked{
			margin: 16px 13px 0 0;
			width: 32px;
			height: 25px;
			float:right;
		}
		.icon-mq-locked{
			width: 25px;
			height: 25px;
			background: url('/images/eq/locked.png') no-repeat;
			background-size: 100%;
		}
	}
	&:hover{
		.col-details *{
			color:$color-info;
		}
		.box-dropdown-title {
		    background-color: #fff;
		    border-color: $color-border;
		}
	}
	.col-details{
		float: left;
		width: calc(100% - 247px);
		padding: 18px 20px 18px 0;
		border-right: 1px solid $color-border;
        .sub-req{
            margin-top: 5px;
            font-size: 11px;
            color: #7E8EA4;
            .sr-no{
                margin-left: 10px;
            }
        }
		.top-row{
			margin:0 0 15px 30px;
		}
		.mq-subject{
			font-size:$font-menu;
			float:left;
            max-width: calc(100% - 110px);
			&.unread{
				.icon-dot{
					margin: -2px 8px 0 -20px;
					color: $color-link;
					font-size: 12px;
				}
			}
		}
		.mq-status{
			float:right;
			font-size: $font-normal;
			&.s-open{
				color: $color-success;
                span{
                    color: $color-success;
                }
				.icon-dot{
					color: $color-success;
				}
			}
			&.s-close{
				color: $color-fail;
                span{
                    color: $color-fail;
                }
				.icon-dot{
					color: $color-fail;
				}
			}
            &.b-open{
                color: $color-info;
                span{
                    color: $color-info;
                }
                .icon-dot{
                    color: $color-info;
                }
            }
            &.b-close{
                color: $color-fail;
                span{
                    color: $color-fail;
                }
                .icon-dot{
                    color: $color-fail;
                }
            }
            &.b-short{
                color: $color-success;
                span{
                    color: $color-success;
                }
                .icon-dot{
                    color: $color-success;
                }
            }
            &.b-awaiting{
                color: #FFC247;
                span{
                    color: #FFC247;
                }
                .icon-dot{
                    color: #FFC247;
                }
            }
            &.b-grey {
                color: #7E8EA4;
                span{
                    color: #7E8EA4;
                }
                .icon-dot{
                    color: #7E8EA4;
                }
            }
            &.b-orange {
                color: #FA7029;
                span{
                    color: #FA7029;
                }
                .icon-dot{
                    color: #FA7029;
                }
            }
            &.b-yellow {
                color: #FFC247;
                span{
                    color: #FFC247;
                }
                .icon-dot{
                    color: #FFC247;
                }
            }
            &.b-blue {
                color: #297CBB;
                span{
                    color: #297CBB;
                }
                .icon-dot{
                    color: #297CBB;
                }
            }
            &.b-red {
                color: #D72C22;
                span{
                    color: #D72C22;
                }
                .icon-dot{
                    color: #D72C22;
                }
            }
            &.b-green {
                color: #77D042;
                span{
                    color: #77D042;
                }
                .icon-dot{
                    color: #77D042;
                }
            }
            &.b-normal {
                color: #3B444F;
                span{
                    color: #3B444F;
                }
                .icon-dot{
                    color: #3B444F;
                }
            }
		}
		.box-detail-col{
			width:50%;
			float:left;
			overflow: hidden;
			padding:0 0 0 30px;
			.col-inner{
				display:table;
			    width: 50%;
				float: left;
                line-height: 22px;
				&:first-child{
					padding-right:15px;
				}
				&:last-child{
					padding-left:15px;
				}
                &.ci-buyer{
                    .col1{
                        width: 80px;
                    }
                }
			}
            // msr
            &.box-3-col{
                width:100%;
                .col-inner{
                    display:table;
                    width: 33.33%;
                    float: left;
                    line-height: 22px;
                    &:last-child{
                        padding:0;
                    }
                }
            }
			.col1,.col2{
				display:table-cell;
			}
			.col1{
				padding-right:10px;
			}
			.w-req{
				width:83px;
			}
			.w-buy{
				width:80px;
			}
			.w-dr,.w-dc{
				width:96px;
			}
			// .w-dc{
			// 	width:75px;
			// }
		}
	}
	.col-actions{
		float:left;
		width:247px;
	}
	.box-action{    
        float: left;
        max-width: 190px;
        word-break: break-word;
        padding: 16px 0 0 20px;
	}
	.btn-mq-action{
		border: 1px solid $color-normal;
		border-radius: 13px;
		color: $color-normal;
		font-size: $font-size-xs;
		font-weight: bold;
		min-width: 74px;
        // max-width: 124px;
		height: 25px;
		line-height: 23px;
		text-align: center;
		margin-bottom:8px;
        padding: 0 10px;
		&.accepted{
			border-color: $color-link;
			color: $color-link;
		}
	}
	.action-by{
		color: $color-sub;
		font-size: $font-size-xs;
	}
}

.fullpop-table {
    .fullpop-rfq-sup-l,
    .fullpop-rfq-sup-r {
        display: table-cell;
        vertical-align: top;
        .title-res {
            color: #3B444F;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 20px;
            padding-bottom: 10px;
            border-bottom: 1px solid #E5E7ED;
        }
        .tr-status{
            // width: 74px;
            font-size: 11px;
            text-align: center;
            font-weight: bold;
            margin-left: 10px;
            border-radius: 12.5px;
            position: absolute;
            padding: 4px 12px;
            margin-top: -6px;
            &.accepted{
                color: #009EFB;
                border: 1px solid #009EFB;
            }
            &.rejected{
                color: #586575;
                border: 1px solid #586575;
            }
        }
        .tr-date{
            float: right;
            font-weight: normal;
            font-size: 13px;
            color: #7E8EA4;
        }
    }
    .fullpop-rfq-sup-l {
        width: 41.66%;
        background: #F4F5F8;
        padding: 40px 20px 30px;
        .sub-title {
            color: #3B444F;
            font-size: 14px;
            font-weight: bold;
            margin: 10px 0 5px;
            &.blue {
                color: #297CBB;
            }
            .status {
                margin-left: 15px;
                font-weight: normal;
                &.green {
                    color: #64BF2D;
                    font-size: 13px;
                }
                &.red {
                    color: #D72C22;
                    font-size: 13px;
                }
            }
            &.text {
                color: #586575;
                font-size: 13px;
                margin: 5px 0 15px;
                font-weight: normal;
            }
        }
        .address-title {
            color: $color-normal;
            font-size: $font-menu;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .rfq-sub-table {
            width: 100%;
            vertical-align: top;
            margin: 10px 0 20px;
            td {
                padding: 0 0 4px 0;
                text-align: left;
                &:first-child {
                    width: 100px
                }
            }
            tr:last-child{
                td{
                    padding: 0;
                }
            }
        }
        .sub-wrap {
            width: 100%;
            margin-bottom: 20px;
            .sub-sq-box {
                padding: 0;
                width: 100px;
                height: 100px;
                color: #297CBB;
                cursor: default;
                overflow: hidden;
                position: relative;
                text-align: center;
                margin-right: 10px;
                margin-bottom: 10px;
                display: inline-block;
                border: 1px solid #BCCEE3;
                .img-box {
                    width: 100px;
                    height: 100px;
                    display: table;
                    .img-wrap {
                        text-align: center;
                        display: table-cell;
                        vertical-align: middle;
                        background-color: #F4F5F8;
                        img {
                            max-width: 100px;
                            max-height: 100px;
                            &.img-files {
                                max-width: 40px;
                                max-height: 40px;
                                margin-top: -15px;
                                margin-left: -5px;
                            }
                        }
                    }
                }
                .sq-title {
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    color: #fff;
                    height: 20px;
                    font-size: 11px;
                    padding: 2px 5px;
                    position: absolute;
                    text-align: center;
                    background: rgba(88,101,117,0.8);
                }
            }
        }
        ul {
            li {
                margin-bottom: 5px;
                i {
                    margin-right: 10px;
                    margin-top: -1px;
                }
            }
        }
    }
    .fullpop-rfq-sup-r {
        width: 58.33%;
        padding: 40px 20px 30px;
        .texV {
            height: 34px;
            color: #297CBB;
            font-size: 20px;
            font-weight: bold;
            padding: 10px 0px;
        }
        .texQ {
            overflow: hidden;
            border-radius: 3px;
            border: 1px solid #E2E2E2;
            input {
                width: 65%;
                float: left;
                border: none;
                height: 34px;
                display: block;
                color: #586575;
                padding: 10px 15px;
                background: transparent;
                &:focus{
                    outline: none;
                }
            }
            span {
                width: 35%;
                float: left;
                height: 30px;
                margin: 2px 0;
                display: block;
                padding: 8px 20px;
                text-align: center;
                border-left: 1px solid #E6E8EB;
            }
            &.disabled{
            	background: #ECEEF2;
            	input.special-disabled {
			    	color: $color-normal !important;
			    	background-color: $color-bg-disable;
			    	border-color: $color-border-disable;
            	}
            }
            &.form-error{
            	border:1px solid #D72C22;
            }
        }
        .texD {
            overflow: hidden;
            border-radius: 3px;
            border: 1px solid #E2E2E2;
            input {
                width: 85%;
                float: left;
                border: none;
                height: 34px;
                display: block;
                color: #586575;
                padding: 10px 15px;
                &:focus{
                    outline: none;
                }
            }
            i {
                width: 15%;
                float: left;
                margin: 7px 0;
                display: block;
                cursor: pointer;
                text-align: center;
            }
        }
        .box-res {
            margin-bottom: 20px;
        }
        .req-response {
            width: 76%;    
            line-height: 28px;
            margin: 90px auto;
            .rr-s1 {
                padding-bottom: 30px;
                border: 1px solid #E5E7ED;
            }
            .rr-header {
                color: #3B444F;
                font-size: 26px;
                margin-bottom: 30px;
            }
            .rr-title {
                color: #586575;
                font-size: 17px;
                padding: 0 0 15px 0;
            }
            hr {
                color: #E5E7ED;
                margin: 30px 0 20px;
            }
            ul {
                margin-bottom: 20px;
                li {
                    margin-bottom: 10px;
                }
                input {
                    margin-right: 10px;
                }
                &.req-radio{
                    margin-top: -5px;
                    li{
                        padding-bottom:0;
                        margin-bottom:0;
                    }
                    label{
                        color: $color-normal;
                        font-size: $font-normal;
                        margin-bottom:0;
                    }
                }
            }
            .sme-sub-title{
                width: 250px;
                margin: auto;
                color: #7E8EA4; 
                line-height: 18px;
            }
        }

        .rfq-box-wrap{
            border: 1px solid $color-border;
            border-radius:2px;
            overflow:hidden;
            &.form-error{
                border-color:#D72C22;
            }
            .rfq-box-overflow:nth-child(2) {
                border-top:1px solid $color-border;
            }
        }

        .rfq-box-overflow {
            textarea {
                width: 100%;
                border: none;
                height: 85px;
                margin-top: 10px;
                padding: 0px 15px 10px;
                color: $color-normal;
                &:focus {
                    outline: none;
                }
                &::-webkit-input-placeholder {
                    color: #999999;
                }

                &:-moz-placeholder {
                    color: #999999;
                }

                &::-moz-placeholder {
                    color: #999999;
                }

                &:-ms-input-placeholder {
                    color: #999999;
                }
            }
            .box-subtitle {
                width: 100%;
                color: #7E8EA4;
                font-size: 10px;
                padding: 0 15px 10px;
                .bs-l {
                    float: left;
                    width: 80%;
                }
                .bs-r {
                    float: right;
                    text-align: right;
                    width: 20%;
                }
            }
            &.rpf-att-success{
                border: none;
                .rbo-wrap{
                    padding: 0;
                }
            }
            .rbo-wrap {
                width: 100%;
                padding: 15px 15px 0;
                .sq-box {
                    width: 100px;
                    height: 100px;
                    padding: 20px;
                    color: #297CBB;
                    cursor: pointer;
                    overflow: hidden;
                    position: relative;
                    text-align: center;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    background: #E9F1F8;
                    display: inline-block;
                    border: 1px dashed #297CBB;
                    i {
                        font-size: 30px;
                    }
                    span {
                        font-size: 10px;
                    }
                }
                .sq-upload {
                    padding: 0;
                    cursor: default;
                    background: #F4F5F8;
                    border: 1px solid #BCCEE3;
                    .img-box {
                        width: 100px;
                        height: 100px;
                        display: table;
                        .img-wrap {
                            text-align: center;
                            display: table-cell;
                            vertical-align: middle;
                            background-color: #F4F5F8;
                            img {
                                max-width: 100px;
                                max-height: 100px;
                                &.img-files {
                                    max-width: 40px;
                                    max-height: 40px;
                                    margin-top: -15px;
                                    margin-left: -5px;
                                }
                            }
                        }
                    }
                    .line-bg,
                    .title {
                        left: 0;
                        width: 100%;
                        position: absolute;
                    }
                    .line-bg {
                        top: 0;
                        height: 5px;
                        display: block;
                        background: #BCCEE3;
                    }
                    .line {
                        top: 0;
                        left: 0;
                        width: 20%;
                        height: 5px;
                        display: block;
                        position: absolute;
                        background: #009EFB;
                    }
                    .title {
                        bottom: 0;
                        height: 20px;
                        color: #ffffff;
                        font-size: 11px;
                        padding: 2px 5px;
                        text-align: center;
                        background: #586575;
                    }
                    .icon-fail {
                        top: 5px;
                        right: 5px;
                        color: #7E8EA4;
                        font-size: 26px;
                        cursor: pointer;
                        position: absolute;
                        &:hover{
                            color: #23527c;
                        }
                    }
                }
            }
            .rbo-warning {
                padding: 0 15px;
                .box-alert {
                    width: 100%;
                    padding: 15px 15px;
                    margin-bottom: 10px;
                    &.failed {
                        background: #F8E3E7;
                        border: 1px solid #EFCAC8;
                        i {
                            top: -1px;
                            margin-left: 10px;
                            position: relative;
                        }
                        .ba-r {
                            color: #D72C22;
                        }
                    }
                    .ba-l {
                        float: left;
                        width: 60%;
                        margin-top: 2px;
                    }
                    .ba-r {
                        width: 40%;
                        float: left;
                        text-align: right;
                    }
                    .size {
                        color: #7E8EA4;
                        font-size: 12px;
                        margin-left: 10px;
                    }
                    .reason {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.sme-popup-footer{    
    padding: 0 20px;
    .spf-left{
        width: 50%;
        float: left;
        padding: 20px 20px 20px 0;
    }
    .spf-right{
        width: 50%;
        float: right;
        padding: 20px 0 20px 20px;
        border-left: 1px solid #D8D8D8;
    }
    .spf-control{
        top: 10px;
        float:left;
        margin-top: -11px;
        position: relative;
        .spf-data-title{
            color: #586575;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .spf-data-sub-title{
            color: #7E8EA4;
            font-size: 13px;
            input{
                margin: 0 10px 0 0;
            }
            label{
                color: #7E8EA4;
                font-size: 13px;
                margin-right: 40px;
                display: inline-block;
            }
            li{
                display: inline-block;
            }
        }
    }
}

.qua-wrap{
    .qua-title{
        color: #586575;
        font-size: 18px;
        font-weight: bold;
    }
    .qua-sub-title{
        color: #7E8EA4;
        margin-top: 5px;
        font-size: 13px;
    }
}