/* column set */
// V1
// $col-left-size: 225px;
// V2
$col-left-size: 65px;
$col-right-size: 986px;
$header-left-size: 245px;
/*font set*/
$font-family: arial,sans-serif;
$font-size-xs: 11px;
$font-subtitle: 12px;
$font-normal: 13px;
$font-menu: 14px;
$font-heading: 18px;
$font-pagetitle: 20px;
$font-special: 22px;
$font-size-xxl: 26px;
/* color set */
$color-title: #3B444F;
$color-normal: #586575;
$color-sub: #7E8EA4;
$color-sub-header: #7D8EA5;
$color-disable: #BEC4CB;
$color-success: #64BF2D;
$color-fail: #D82C22;
$color-warning: #F7B735;
$color-info: #297CBB;
$color-info-hover: #226DA5;
$color-info-dark: #1D4174;
$color-info-light: #BCCEE3;
$color-link: #009EFB;
/*link set*/
$link-normal: $color-title;
$link-active: $color-info;
$link-hover: $link-active;
/* background set */
$color-background: #F4F5F8;
$color-background-success: #F3FBED;
$color-background-success-rgba: rgba(242, 251, 237, 0.7);
$color-background-fail: #F6D8DD;
$color-background-fail-rgba: rgba(246, 216, 221, 0.7);
$color-background-warning: #FFFBEF;
$color-background-warning-rgba: rgba(255, 251, 239, 0.7);
$color-background-info: #E2F3FF;
$color-background-info-rgba: rgba(225, 242, 255, 0.7);
/* border set*/
$color-border: #E6E8EB;
$color-border-hover: #91A5BF;
$color-border-focus: #007FCB;
$color-border-success: #E4F3DB;
$color-border-fail: #EFCAC8;
$color-border-warning: #FEEFD0;
$color-border-info: #CFE3F1;
$color-border-disable: #E2E2E2;
$color-bg-disable: #ECEEF2;
$color-border-dropdown: #EDF2F5;
$color-border-light: #E0E4F0;
$color-border-more-light: #F9FAFB;
/* frontend set*/
$fe-color-background: #E9EEF5;
$fe-color-border: #c8d4e4;
/* basic color*/
$color-red: #E7372D;
$color-white: #ffffff;
$color-light-blue: #CCECFE;
$color-medium-green: #5CB029;
$color-medium-grey: #C4C9D0;
