.table-pricbook-list {
    thead {
        .col-checkbox {
          width: 3%
        }
        .col-expand {
          width: 3%
        }
        .col-pricbook-status {
            width: 150px;
            min-width: 150px;
        }
        .col-sup-name {
          width: 15%;
        }
        .col-sup-group-name {
          width: 15%;
        }
        .col-category {
          width: 13%;
        }
        .col-part-number {
          width: 10%;
        }
        .col-req-by {
          width: 10%;
        }
    }
    tbody>tr {
        cursor: pointer;
        &.no-pointer {
          cursor: default !important;
        }
        &.cur-default {
            cursor: default;
        }
        &.active {
            background: #CCECFE;
        }

        &.disabled {
            cursor: not-allowed;
            td {
                color: #CCD0D5;
            }
        }

        &.locked {
            cursor: default;
            &:hover {
                td {
                    color: $color-normal !important;
                    .binv-sub {
                        color: $color-sub !important;
                    }
                }
            }
        }

        &.col-selected {
            background: $color-light-blue;
        }

        &:hover {
            td {
                .binv-sub {
                    color: $color-info;
                }
            }
        }

        td {
            .noti-green {
                top: -3px;
                right: -2px;
            }

            i.icon-attachment,
            i.icon-delete {
                color: $color-sub;

                &:hover {
                    color: $color-border-focus;
                }
            }
        }
    }

    &.tb-new-inv {
        th:nth-child(2) {
            padding: 9px 0;
        }

        td:nth-child(2) {
            padding: 15px 0;
        }

        th,
        td {
            cursor: default;
            &:nth-child(2) {
                cursor: pointer;
            }
        }
    }

    .box-org-name {
        max-width: 120px;
    }

    .box-supplier-name {
        max-width: 100px;
    }

    .box-req-name {
        max-width: 80px;
    }

    .icon-calendar {
        top: 7px;
        right: 8px;
        color: $color-info-light;
    }

    .col-detail {
        cursor: default;
        background: #E8ECF1 !important;
        td {
            padding: 0;
            margin: 0;
        }
        &.col-selected {
            background: $color-light-blue !important;
        }
        .in-col-detail {
            width: 100%;
            border-collapse: collapse;
            &.list-detail {
                margin-left: 60px;
                width: calc(100% - 85px);
            }
            tr {
                cursor: default !important;
                background: transparent;
                th {
                    padding: 10px 10px 0;
                    line-height: 2.5em;
                    color: $color-normal;
                    border-bottom: 1px solid #DCDEE1;

                    .noti-green {
                        top: -2px;
                        right: -2px;
                    }
                }

                td {
                    padding: 15px 10px;
                    line-height: 1.65em;
                    color: $color-normal;
                    word-break: break-word;
                    border-top: 1px solid #DCDEE1;
                    border-bottom: none !important;
                }

                &.col-detail-return {
                    td {
                        border-top: none;
                        padding: 15px 10px;
                        color: $color-info;
                        border-bottom: none;
                    }
                }
            }

            .row-actions {
                td {
                    color: $color-border-focus;
                }
            }
            th:nth-child(2) {
                width: 10%;
            }
            th:nth-child(3) {
                width: 13%;
            }
            .ein-item {
                width: 517px;
            }
            &.create {
                th:nth-child(2) {
                    width: 5%;
                }
                th:nth-child(4),
                th:nth-child(6) {
                    width: 10%;
                }
                th:nth-child(3),
                th:nth-child(5),
                th:nth-child(7) {
                    width: 15%;
                }
                th:nth-child(8),
                th:nth-child(9) {
                    width: 20%;
                }
                tr {
                  &:hover {
                    td {
                      cursor: pointer !important;
                      color: $color-info;
                    }
                  }
                }
            }
        }
        .ctrl-pad {
            &.a12 {
                padding: 12px !important;
            }
        }
        .pd-5 {
            &:nth-child(3) {
                min-width: 340px;
            }
            &:nth-child(4),
            &:nth-child(6) {
                min-width: 80px;
            }

            &:nth-child(5),
            &:nth-child(7) {
                min-width: 150px;
            }
        }
        &.non-gr-ein {
            tbody {
                tr {
                    cursor: pointer;
                    &:hover {
                        td {
                            color: $color-info;
                        }
                    }
                }
            }
        }
    }

    .word-wrap {
        white-space: nowrap;
        width: 260px \9;
        overflow: hidden;
        line-height: 20px;
    }

    .text-block {
        max-width: 210px;
    }

    .price-rate {
        right: 10px;
        display: block;
        cursor: pointer;
        font-size: 10px;
        margin-top: -5px;
        position: absolute;
        font-style: normal;
        white-space: nowrap;
        color: $theme-hover !important;
    }

    .icon-arrow-right-page {
        margin-top: -3px;
    }
    .th-w-cb {
        margin-top: -2px;
    }

    br.space {
        line-height: 2;
    }

    .icon-arrow-down-page {
        margin-top: -2px;
    }

    .icon-info {
        color: #D72C22;
    }

    .buyer-inv-num {
        min-width: 130px;
        br{
            line-height: 1.5;
        }
        .binv-sub {
            color: $color-sub;
            font-size: $font-subtitle;
        }
    }

    .buyer-type {
        max-width: 90px;
    }
}

.pricebook-text-status {
  float: left;
  padding: 15px 10px;

  &.waiting {
    color: #ffc247;
    }

    &.active {
        color: #77d042;
    }

    &.blocked {
        color: #d82c22;
    }

    &.expired {
        color: #7E8EA4;
    }
}

.col-action-dot {
    position: relative;
    padding: 0 !important;
}
.col-action-sup-no {
  padding: 0 !important;
}

.pr-action {
    float: right;
    margin-right: 10px;

    .box-dropdown-title {
        padding: 0;
        width: 45px;
        height: 35px;
        margin: 6px 0 0;
        overflow: hidden;
        line-height: 35px;
        position: relative;
        text-align: center;
        border-radius: 3px;
        border: 1px solid transparent;
        color: $color-normal !important;
    }

    &.open,
    &:hover {
        .box-dropdown-title {
            color: #237BBD !important;
            background-color: $color-white;
            border-color: #237BBD !important;
        }
    }

    .box-dropdown-list {
        top: 46px;
        overflow: hidden;

        &.dropdown-top {
            top: inherit;
            bottom: 51px;
        }
        i{
            margin-top: -5px;
            margin-right: 10px;
        }
    }

    .tooltip-top {
        top: -32px;
        width: 66px;
        bottom: auto;
        margin-left: -33px;
    }
    .tooltip-top-sup-info {
       top: -32px;
       width: 70px;
       bottom: auto;
       margin-left: -33px;
     }
}

.blx-wrap {
	.blxw-header {
			height: 35px;
			color: $color-sub;
			padding: 10px 60px;
			background: #D7DFEA;
			.blxw-hh {
					padding-right: 10px;
			}
	}
	.blxw-content {
			font-weight: bold;
			padding: 0 60px;
			color: $color-normal;
			.blxw-table {
					padding-top: 15px;
					padding-bottom: 10px;
					.blxw-nospace {
							margin:0;
					}
			}
			.blxw-ch {
					padding-right: 10px;
			}
			.blxw-cd {
					padding-right: 40px;
			}
			.blxw-csd {
					color: $color-sub;
					font-size: $font-subtitle;
			}
			table {
					width: 100%;
					border: none;
					font-weight: normal;
					border-collapse: collapse;
					.blxw-num {
							width: 50px;
							text-align: center;
							border-bottom: none;
							padding-bottom: 10px;
					}
					.blxw-name {
							word-break: break-all;
							border-bottom: 1px solid #DCDEE1;
					}
					tbody {
							tr {
									cursor: default;
									&:hover {
											>* {
													color: $color-normal;
											}
									}
							}
							td {
									padding: 15px 10px;
							}
					}
			}
	}
	.blxw-footer {
			min-height: 20px;
			margin-bottom: 10px;
			a {
					width: 100%;
					height: 100%;
					display: block;
					line-height: 1.7;
					padding: 10px 60px;
					color: $color-border-focus;
					i {
							margin-top: -2px;
					}
					&:hover {
							background: #DFE5ED;
							color: $color-border-focus;
					}
			}
	}
}

.pr-top-search {
  position: relative;
}

.imp-top-status {
    margin-left: 10px;

    .status-dropdown {
        min-width: 163px;
    }
}

.btn-calendar {
	top: 1px;
	width: 46px;
	right: 36px;
	border: none;
	height: 32px;
	outline: none;
	right: 38px \9;
	cursor: pointer;
	padding: 6px 7px;
	text-align: left;
	position: absolute;
	color: $color-info-light;
	background-color: $color-white;

	.icon-arrow-down-page {
			top: 5px;
			right: 0;
			font-size: 22px;
			position: absolute;
	}

	&:active,
	&:focus,
	&:hover {
			color: $color-info;
	}
}
.table-sup-group {
  tbody>tr {
    cursor: pointer;
  }
  .sup-no {
    width: 12%;
  }
  .sup-name {
    width: 22%;
  }
  .sup-detail {
    width: 28%;
  }
  .no-sup {
    width: 13%;
  }
  .sup-create {
    width: 10%;
  }
  .sup-update {
    width: 15%;
  }
  .bsup-title-w-row{
    width: auto;
    // display: block;
    max-height: 35px;
    // overflow: hidden;
    line-height: 1.5em;
    word-wrap: break-word;
    word-break: break-word;
    text-overflow: ellipsis;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.ein-text-status {
  float: left;
  padding: 15px 10px;
  max-width: 85%;
}
.margin-left30 {
  margin-left: 30px;
}
.div-border-supplier-search {
  width: 99.99%;
  height: 55px;
  margin-bottom: -1.7px;
}

.div-supplier-search-result {
    width: 99.99%;
    height: 55px;
    margin-bottom: -1.7px;
  }

.supplier-search-text {
  width: 92%;
  float: left;
  margin-top: 9px;
  margin-left: 8px;
}
.margin-top9-px {
  margin-top: 9px;
}
.margin-top28 {
  margin-top: 28%;
}
.margin-top70 {
  margin-top: 70%;
}
.margin-right20-px {
  margin-right: 20px;
}
.supplier-pagination-border {
  width: 99.99%;
}
.supplier-pagination-margin {
  margin-top : -10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.supplier-add-btn {
  border: 1px;
  border-color: $color-border;
  border-style: solid;
  width: 99.99%;
  background-color: $color-border;
}
.btn-add-margin {
  margin-left: 82%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.tr-supplier-header {
  display: block;
  width: 100%;
}
.tbody-supplier {
  display: block;
  overflow: auto;
  height: 492px;
  width: 100%;
}
.pb-supplier-name {
   width: 45%;
}
.pb-tax-no {
  width: 25%;
}
.pb-tax-no-body {
  width: 24.9%;
}
.pb-vendor-no {
  width: 100%;
}
.bsupplier-title-w-row{
  width: auto;
  // display: block;
  max-height: 35px;
  // overflow: hidden;
  line-height: 1.5em;
  word-wrap: break-word;
  word-break: break-word;
  text-overflow: ellipsis;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.information-bar {
  line-height: 2em;
  padding: 10px 15px;
  margin-bottom: 50px;
  background: $color-background;
  border-top: 1px solid $color-border;
}
.box-row
  .box-supplier-selected {
  width: 100%;
  height: 698px;
  margin: 0;
}

.supplier-list-wrapper {
  border: 1px;
  border-color: #E6E8EB;
  border-style: solid;

  &.disable {
    pointer-events: none;
  }
}

.box-supplier-selected {
  width: 32.06%;
  float: right;
}
.box-row .sp-selected-title {
  padding: 0 15px 0 20px;
  height: 34px;
}
.box-supplier-selected {
  border: 1px solid #E6E8EB;
  height: 698px;
}
.box-row .sp-selected-title {
  padding: 0 15px 0 20px;
  height: 34px;
}
.sp-selected-title {
  height: 34px;
  overflow: hidden;
  line-height: 34px;
  padding: 0 15px 0 20px;
}
.sp-selected-title .remove-link {
  font-size: 11px;
  color: #297CBB;
}
.sp-selected-title .remove-link, .table-link:hover {
  text-decoration: underline;
}
.sp-selected-list {
  clear: both;
  border-top: 1px solid #F4F5F8;
  height: 664px;
}
.sp-selected-list li {
  padding: 10px 0;
}
.sp-selected-list li .remove-icon {
  color: #BEC6D1;
  font-size: 16px;
  display: inline-block;
  margin: 0 5px;
}
.sp-selected-list ul {
  margin: 10px 0;
  padding: 0 20px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 95%;
}
.icon-sup-info {
  cursor: pointer;
}
.no-result-wrapper {
  height: 533px;
  .centered-content {
    left: 50%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.table-wrapper {
  position:relative;
}
.table-wrapper table thead tr .text {
  position:absolute;
  top:-20px;
  z-index:2;
}
.fack-head-table {
 height: 39px;
}
.table-scroll {
  height: 533px;
  overflow-x:hidden;
}
.table-scroll-with-search {
  display: block;
  overflow: auto;
  height: 438px;
  width: 100%;
}
.position-absolute {
  position: absolute;
  background-color: white;
}
.sup-info-tooltip {
  position: static;
}
.boder-sup-list-td {
  border: 1px;
  border-style: solid;
  border-color: $color-border;;
}
.col-information-bar {
    float: left;
    max-width: 300px;
    margin-right: 30px;
    word-wrap: break-word;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    .pr-detail-title {
        color: $color-sub;
    }
}
.disable-left-table {
  cursor: not-allowed;
  filter: grayscale(100%);
}
.file-upload-wrap {
    margin: 10px 0;
    height: 34px
}

.file-upload-modal {
    margin: 0 0 5px;
  .file-upload-name {
      width: 315px;
      width: calc(100% - 134px);
      line-height: 22px;
  }
}

.box-upload-status {
  margin: 10px 0;
  padding: 7px 10px 7px 7px;
  border-left-width: 3px!important;
  &.box-success {
    border-left-color: $color-success;
  }
  &.box-fail {
    border-left-color: $color-fail;
  }
  &.box-info {
    border-left-color: $color-info;
    img {
        top: -1px;
        margin-right: 10px;
        position: relative;
        width: 16px
    }
  }
}

.upload-report {
    margin: 15px 0 0
}

.box-success {
    background-color: $color-background-success;
    background-color: $color-background-success-rgba;
    border: 1px solid $color-border-success;
    color: $color-success;;
    a {
        color:  $color-success;;
        text-decoration: underline;
    }
  }
  
.box-fail {
color: $color-fail;
a {
    color: $color-fail;
    text-decoration: underline;
}
background-color: $color-background-fail;
background-color: $color-background-fail-rgba;
border: 1px solid $color-border-fail;
}

.box-info {
background-color: $color-background-info;
background-color: $color-background-info-rgba;
border: 1px solid $color-border-info;
color: $color-info;
}

.table-imp-status {
  tbody>tr {
      cursor: pointer;
  }
  .imp-no {
      width: 10%;
  }
  .file-name {
      width: 30%;
  }
  .imp-by {
      width: 18%;
  }
  .date-mo {
      width: 15%;
  }
  .imp-status {
      width: 17%;
  }
  .bimp-title-w-row{
      width: auto;
      // display: block;
      max-height: 35px;
      // overflow: hidden;
      line-height: 1.5em;
      word-wrap: break-word;
      word-break: break-word;
      text-overflow: ellipsis;

      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
  }
}

.imp-text-status {
    float: left;
    padding: 15px 10px;
    white-space: nowrap;
    margin: 0;

    &.uploading {
        color: #3b444f;
    }

    &.importError {
        color: #fa7029;
    }

    &.pending {
        color: #3b444f;
    }

    &.processing {
        color: #007fcb;
    }

    &.partial {
        color: #ffc247;
    }

    &.failed {
        color: #d82c22;
    }

    &.completed {
        color: #77d042;
    }

    &.success {
      color: #77d042;
    }
}

.icon-info {
  &.partial {
    color: #ffc247 !important;
  }

  &.failed {
      color: #d82c22 !important;
  }
  padding-left: 6px;
}

.pb-view-header {
  width: 100%;
  color: #3B444F;
  font-weight: bold;
  padding-bottom: 5px;
  margin-bottom: 40px;
  font-size: $font-heading;
  border-bottom: 1px solid #E5E7ED;
  line-height: 1.8em;
}


.top-view-title {
  margin: 20px 0;
  line-height: 20px;

  .pb-title-number {
      font-size: 18px;
      color: $color-title;
  }

  .pb-status {
      margin: 0 0 0 5px;
      vertical-align: top;
      display: inline-block;
      
      &.uploading {
        color: $color-title;
      }
    
      &.importError {
          color: #fa7029;
      }
    
      &.pending {
          color: $color-title;
      }
    
      &.processing {
          color: $color-border-focus;
      }
    
      &.partial {
          color: #ffc247;
      }
    
      &.failed {
          color: #d82c22;
      }
    
      &.completed {
          color: #77d042;
      }
  }

  .pr-status-reason {
      padding: 0 5px;
  }

  .icon-info {
      font-size: 20px;
      margin: -5px 0 0;
      color: $color-normal;
  }
}

.imp-detail-status {
  margin-top: -25px;
  padding-bottom: 50px;
}

.dropdown-scroll {
    overflow-y: scroll;
    overflow: auto;
    width: 280px
}

.pb-dropdown {
    max-height: 430px!important;
    overflow-y: auto;
}

.pb-dropdown-wraptext {
    white-space: pre-wrap !important;
    width: 280px
}

.dropdown-right {
    right: 0;
    left: auto;
}

.dropdown-dot {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
}

.table-imp-detail {
    .col-expand {
        width: 3%
    }
    .supplier {
        width: 20%;
    }
    .supplier-group {
        width: 20%;
    }
    .part-num {
        width: 15%;
    }
    .category {
        width: 15%;
    }
    .imp-detail-title-w-row-wrap{
        width: auto;
        max-height: 35px;
        line-height: 1.5em;
        word-wrap: break-word;
        word-break: break-word;
    }
    .col-detail {
        cursor: default;
        background: #E8ECF1 !important;
        td {
            padding: 0;
            margin: 0;
        }
        &.col-selected {
            background: $color-light-blue !important;
        }
        .in-col-detail {
            width: 100%;
            border-collapse: collapse;
            &.list-detail {
                margin-left: 60px;
                width: calc(100% - 85px);
            }
            tr {
                cursor: default !important;
                background: transparent;
                th {
                    padding: 10px 10px 0;
                    line-height: 2.5em;
                    color: $color-normal;
                    border-bottom: 1px solid #DCDEE1;

                    .noti-green {
                        top: -2px;
                        right: -2px;
                    }
                }

                td {
                    padding: 15px 10px;
                    line-height: 1.65em;
                    color: $color-normal;
                    word-break: break-word;
                    border-top: 1px solid #DCDEE1;
                    border-bottom: none !important;
                }

                &.col-detail-return {
                    td {
                        border-top: none;
                        padding: 15px 10px;
                        color: $color-info;
                        border-bottom: none;
                    }
                }
            }

            .row-actions {
                td {
                    color: $color-border-focus;
                }
            }
            th:nth-child(2) {
                width: 10%;
            }
            th:nth-child(3) {
                width: 13%;
            }
            .ein-item {
                width: 517px;
            }
            &.create {
                th:nth-child(2) {
                    width: 5%;
                }
                th:nth-child(4),
                th:nth-child(6) {
                    width: 10%;
                }
                th:nth-child(3),
                th:nth-child(5),
                th:nth-child(7) {
                    width: 15%;
                }
                th:nth-child(8),
                th:nth-child(9) {
                    width: 20%;
                }
                tr {
                  &:hover {
                    td {
                      cursor: pointer !important;
                      color: $color-info;
                    }
                  }
                }
            }
        }
        .ctrl-pad {
            &.a12 {
                padding: 12px !important;
            }
        }
        .pd-5 {
            &:nth-child(3) {
                min-width: 340px;
            }
            &:nth-child(4),
            &:nth-child(6) {
                min-width: 80px;
            }

            &:nth-child(5),
            &:nth-child(7) {
                min-width: 150px;
            }
        }
        &.non-gr-ein {
            tbody {
                tr {
                    cursor: pointer;
                    &:hover {
                        td {
                            color: $color-info;
                        }
                    }
                }
            }
        }
    }
  }

  .disable-export {
    cursor: not-allowed !important; 
    filter: grayscale(100%); 
    background: #F4F5F8 !important;
  }

  .partnum-status {
    margin: 0 0 0 5px;
    vertical-align: top;
    display: inline-block;
    &.waiting {
    color: #ffc247;
    }
    &.active {
        color: #77d042;
    }
    &.blocked {
        color: #d82c22;
    }
    &.expired {
        color: #7E8EA4;
    }
}

.pb-view-wrap {
    margin-bottom: 50px;
}

.pb-tab-form {
    width: 100%;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            cursor: pointer;
            padding: 0 20px 10px;
            display: inline-block;
            font-size: $font-menu;
            a{
                color: $color-sub;
                &:hover {
                    color: #1D508D;
                }
                &.active{
                    color: #1D508D;
                    font-weight: bold;
                }
            }
            i{
                color: #D72C22;
                margin-left: 5px;
                margin-top: -3px;
            }
        }
    }
}

.pb-tab-data-wrap {
    height: 350px;
    overflow-x: auto;
    overflow-y: hidden;
    .pb-tab-data {
        padding: 20px;
        min-width: 100%;
        width: max-content;
        width: -moz-max-content;
        background: $color-background;
        border-top: 1px solid #E5E7ED;
        .pb-row {
            float: left;
            max-width: 315px;
            margin-right: 80px;
            .pb-form-control {
                display: inline-block;
                &:last-child {
                    margin-right: 20px;
                }
            }
            .input-calendar {
                cursor: pointer;
                position: relative;
                input {
                    width: 315px;
                    cursor: pointer;
                }
                i {
                    top: 6px;
                    right: 8px;
                    position: absolute;
                }
                &.disabled {
                    cursor: default;
                    input {
                        cursor: default;
                    }
                    i{
                        color: #BEC4CB;
                    }
                }
                input:read-only {
                    cursor: default;
                    background: #fff !important;
                }
                input:-moz-read-only {
                    cursor: default;
                    background: #fff !important;
                }
            }
            &:last-child{
                margin-right: 0;
            }
        }
        .label-coltrol{
            font-size: $font-menu;
            color: #3B444F;
            padding: 0 0 10px;
        }
    }
}

.input-315 {
    width: 315px;
}
.cursor-default {
    cursor: default !important;
}

.box-dropdown-pb-type {
    padding: 0 45px 0 15px;
    line-height: 32px;
    border: 1px solid $color-border;
    min-width: 150px;
    cursor: pointer;
    @include border-radius(2px);

    > i {
        top: 5px;
        right: 8px;
        font-size: 22px;
        position: absolute;
    }
}

table.table-fixed-header {
    table-layout: fixed;
    width: 100%;
    border-collapse: initial;
    border-spacing: 0px;
    thead tr th {
        position: sticky;
        top: 0;
        z-index: 0;
        background: #fff;
        &.col-checkbox {
            width: 5%;
        }
        &.pb-part-num-id {
            width: 15%;
        }
        &.pb-part-number {
            width: 20%;
        }
        &.pb-part-number-group {
            width: 17%;
        }
        &.pb-description {
            width: 25%;
        }
        &.pb-description-with-info {
            width: 28%;
        }
        &.pb-contract-id {
            width: 14%;
        }
        &.pb-contract-id-with-info {
            width: 20%;
        }
        &.pb-contract-amendment-id {
            width: 25%;
        }
    }
    tbody tr td{
        span {
            max-height: 35px;
            line-height: 1.5em;
            word-wrap: break-word;
            word-break: break-word;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        &.col-checkbox {
            width: 5%;
        }
    }
}

.partnum-list {
    overflow: auto;
    height: 533px;
}

.partnum-list-with-search {
    overflow: auto;
    height: 479px;
}

.please-select-wrapper {
    height: 696px;
    .centered-content {
        left: 50%;
        position: relative;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.create-price-model-group-search-section {
    .dropdown-section {
        float: left;
        width: 40%;
    }
    .search-text-section {
        float: left;
        width: 60%;
    }
}

.part-num-search-text {
    width: 87%;
    float: left;
    margin-top: 9px;
    margin-left: 8px;
}

.dropdown-search-part-num {
    margin-top: 9px;
    margin-left: 8px;
    ul {
        li {
            width: 271px;
        }
    }
}

.table-pricemodel-group {
    tbody>tr {
        cursor: pointer;
    }
    .pmg-no {
        width: 10%;
    }
    .pmg-name {
        width: 12%;
    }
    .pmg-detail {
        width: 16%;
    }
    .sup-group {
        width: 16%;
    }
    .sup-name {
        width: 16%;
    }
    .pmg-created-by {
        width: 10%;
    }
    .pmg-create {
        width: 7%;
    }
    .pmg-update {
        width: 13%;
    }
    .pmg-title-w-row{
        width: auto;
        // display: block;
        max-height: 35px;
        // overflow: hidden;
        line-height: 1.5em;
        word-wrap: break-word;
        word-break: break-word;
        text-overflow: ellipsis;

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

.disable-dropdown {
    background-color: #eceef2;
    border-color: #E2E2E2;
    cursor: not-allowed !important
}